<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="PICMLDocsFrag">
    <DirectoryRef Id="CoSMICDocsDir">
      <Component Id='PICMLDocs' Guid='E3E387AC-971D-4F78-A9EF-D108BAD5239D'>
        <File Id='BGML_Documentation_Guide.pdf'
              Name='BGML_Documentation_Guide.pdf'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\pim\PICML\docs\BGML_Documentation_Guide.pdf' >

          <Shortcut Id="BGML_Documentation_GuideShortCut" Directory="CoSMICProgramMenuDocsDir"
                    Name="BGML_Documentation_Guide" WorkingDirectory='CoSMICDocsDir'
                    Advertise="yes" />
        </File>

        <File Id='Importing_IDL.pdf'
              Name='Importing_IDL.pdf'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\pim\PICML\docs\Importing_IDL.pdf' >

          <Shortcut Id="Importing_IDLShortCut" Directory="CoSMICProgramMenuDocsDir"
                    Name="Importing_IDL" WorkingDirectory='CoSMICDocsDir'
                    Advertise="yes" />
        </File>

        <File Id='Interface_Definitions.pdf'
              Name='Interface_Definitions.pdf'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\pim\PICML\docs\Interface_Definitions.pdf' >

          <Shortcut Id="Interface_DefinitionsShortCut" Directory="CoSMICProgramMenuDocsDir"
                    Name="Interface_Definitions" WorkingDirectory='CoSMICDocsDir'
                    Advertise="yes" />
        </File>

        <RemoveFolder Id='PICMLDocsDirRemover' On='uninstall' />
      
      </Component>
    </DirectoryRef>
</Fragment>
</Wix>