*.vcproj*
*.vcxproj*

Debug/
Static_Debug/

Release/
Static_Release/

*_i.c
*_p.c
*.exe
*.ilk
*.pdb
*.ncb
*.sln
dlldata.c
lib/
*.dll
*.tlb
*.lib
*.user
*.exp
*.suo
*.sdf
*.opensdf

/GAME\game\mga\utils/MgaUtil.h
