<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="BIRSpecificationComponentFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='BIRSpecificationComponentLibrary' Guid='529AD9E3-6AF7-4C59-8720-834BE28D1A32'>
        <File Id='BIRSpecificationDLL'
              Name='BIRSpecification.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\BIRSpecification.dll' />
        <File Id='BIRSpecificationComponentDLL'
              Name='BIRSpecificationComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\BIRSpecificationComponent.dll' />

        <RegistryKey Root="HKLM" Key="Software\Classes" 
                     Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" 
                     Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{529AD9E3-6AF7-4C59-8720-834BE28D1A32}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.BIRSpecification" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{529AD9E3-6AF7-4C59-8720-834BE28D1A32}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.BIRSpecification" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{529AD9E3-6AF7-4C59-8720-834BE28D1A32}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]BIRSpecificationComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.BIRSpecification"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.BIRSpecification" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.BIRSpecification\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{529AD9E3-6AF7-4C59-8720-834BE28D1A32}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.BIRSpecification"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="Run BIR Generation Interpreter" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="CQML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="BIRSpecification" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.BIRSpecification\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="CQML" Value="" Type="string" />
        </RegistryKey>

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
