<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="PICMLParadigmFrag">

    <Feature Id='PICMLParadigmFeature'
             Level='1'
             Title='PICML Paradigm and interpreters'
             TypicalDefault="install">

      <ComponentRef Id='PICMLParadigm' />
      <ComponentRef Id='PICMLParadigmIcons' />
      <ComponentRef Id='PICMLLibrary'/>
      <ComponentRef Id='UtilsLibrary'/>
      <ComponentRef Id='GMEIncludes'/>
      <ComponentRef Id='PICMLDecoratorLibrary' />
      <ComponentRef Id='PICMLManagerLibrary' />
      <ComponentRef Id='PICMLManagerRegistry' />
      <ComponentRef Id='PropertyManagerLibrary' />
      <ComponentRef Id='CBMLManagerLibrary' />
      <ComponentRef Id='CBMLManagerRegistry' />

      <ComponentRef Id='PackageComponentLibrary' />
      <ComponentRef Id='DomainComponentLibrary' />
      <ComponentRef Id='DeploymentPlanComponentLibrary' />
      <ComponentRef Id='MPCComponentLibrary' />
      <ComponentRef Id='PathComponentLibrary' />
      <ComponentRef Id='IDLGeneratorLibrary' />
      <ComponentRef Id='IDLImporterExecutable' />
      <ComponentRef Id='QEDDeploymentLibrary' />

      <ComponentRef Id='PICMLDocs' />
      <ComponentRef Id='PICMLExamples' />
      <ComponentRef Id="PICMLRegistryComponent" />
    </Feature>

    <DirectoryRef Id="PICMLParadigmDir">
      <Component Id='PICMLParadigm' Guid='AC9C4D19-327B-471A-AAB2-EB2597840D27'>
        <File Id='PICMLUML'
              Name='PICML-uml.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\pim\picml\paradigms\PICML-uml.xme' />
        <File Id='PICMLXME'
              Name='PICML.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\pim\picml\paradigms\PICML.xme' />
        <File Id='PICMLXML'
              Name='PICML.xml'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\pim\picml\paradigms\PICML.xml' />

         <File Id='PICMLXMP'
              Name='PICML.xmp'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\pim\picml\paradigms\PICML.xmp' />

        <!-- GUID match warning begins here. -->
        <!-- The GUID in the .xmp has to match exactly here
             for the registry entries. This needs to be done
             everytime the paradigm is freshly interpreted. -->

        <!-- The registry writing way of registring paradims is
             disabled now because it does not seem work reliably.
             We use CustomActionDLL instead. Therefore,
             no need to ship the .mta file. -->
        <!--
        <File Id='PICMLMTA'
              Name='PICML.mta'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\pim\picml\paradigms\PICML.mta' />

        <RegistryKey Root="HKLM" Key="Software\GME\Paradigms\PICML"
                    Action="createAndRemoveOnUninstall">
          <RegistryValue Name="CurrentVersion" Value="{54274123-9B37-40AE-A16E-5548053B8307}"
                         Type="string" KeyPath="yes" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="Software\GME\Paradigms\PICML\{54274123-9B37-40AE-A16E-5548053B8307}"
                    Action="createAndRemoveOnUninstall">
          <RegistryValue Name="ConnStr" Value="[PICMLParadigmDir]PICML.mta"
                         Type="string"  />
        </RegistryKey>
        -->
        <!-- GUID match warning ends here. -->

        <!-- No matter which paradigm registration technique you
             use, .mta file should be removed while uninstalling. -->
        <RemoveFile Id='PICMLMTA' Name='PICML.mta' On='uninstall' />

      </Component>
    </DirectoryRef>


    <DirectoryRef Id='PICMLParadigmDir'>
      <Component Id="PICMLRegistryComponent"
                 Guid="F4D4FEA4-1998-4222-A9E0-CBDF320C5388" >
        <RegistryKey Root="HKLM" Key="Software\ISIS\CoSMIC"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="PICMLParadigm" Value="[PICMLParadigmDir]"
                         Type="string" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="PICMLIconsDir">
      <Component Id='PICMLParadigmIcons' Guid='2AE68EFF-5F6D-4607-9D3C-485D499E0C21'>
        <File Id='PICML_icon_1'
        Name='Any.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Any.bmp' />

        <File Id='ApplicationTask.gif'
        Name='ApplicationTask.gif'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ApplicationTask.gif' />

        <File Id='PICML_icon_2'
        Name='Assembly.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Assembly.bmp' />

        <File Id='PICML_icon_3'
        Name='AttributeMapping.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\AttributeMapping.bmp' />

        <File Id='PICML_icon_4'
        Name='Average.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Average.bmp' />

        <File Id='PICML_icon_5'
        Name='BandedConnection.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\BandedConnection.bmp' />

        <File Id='PICML_icon_6'
        Name='BandedConnectionRef.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\BandedConnectionRef.bmp' />

        <File Id='PICML_icon_7'
        Name='Bridge.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Bridge.bmp' />

        <File Id='BranchState.bmp'
        Name='BranchState.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\BranchState.bmp' />

        <File Id='PICML_icon_8'
        Name='Capability.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Capability.bmp' />

        <File Id='PICML_icon_9'
        Name='ComponentPackage.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ComponentPackage.bmp' />

        <File Id='PICML_icon_10'
        Name='ComponentProperty.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ComponentProperty.bmp' />

        <File Id='PICML_icon_11'
        Name='ComponentSet.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ComponentSet.bmp' />

        <File Id='PICML_icon_12'
        Name='ConnectionBand.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ConnectionBand.bmp' />

        <File Id='PICML_icon_13'
        Name='Connector.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Connector.bmp' />

        <File Id='PICML_icon_14'
        Name='DataType.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\DataType.bmp' />

        <File Id='PICML_icon_15'
        Name='Discrete-Benchmark.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Discrete-Benchmark.bmp' />

        <File Id='PICML_icon_16'
        Name='Domain.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Domain.bmp' />

        <File Id='DoWhileState.bmp'
        Name='DoWhileState.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\DoWhileState.bmp' />

        <File Id='PICML_icon_17'
        Name='EnvironmentConf.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\EnvironmentConf.bmp' />

        <File Id='PICML_icon_18'
        Name='ExternalReferenceEndPoint.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ExternalReferenceEndPoint.bmp' />

        <File Id='ForState.bmp'
        Name='ForState.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ForState.bmp' />

        <File Id='PICML_icon_19'
        Name='FOU.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\FOU.bmp' />

        <File Id='PICML_icon_20'
        Name='ImplementationArtifact.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ImplementationArtifact.bmp' />

        <File Id='PICML_icon_21'
        Name='ImplementationArtifactReference.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ImplementationArtifactReference.bmp' />

        <File Id='PICML_icon_22'
        Name='ImplementationDependency.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ImplementationDependency.bmp' />

        <File Id='PICML_icon_23'
        Name='ImplementationReference.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ImplementationReference.bmp' />

        <File Id='PICML_icon_24'
        Name='ImplementationRequirement.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ImplementationRequirement.bmp' />

        <File Id='PICML_icon_25'
        Name='InputAction.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\InputAction.bmp' />

        <File Id='PICML_icon_26'
        Name='Interconnect.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Interconnect.bmp' />

        <File Id='PICML_icon_27'
        Name='Jitter.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Jitter.bmp' />

        <File Id='PICML_icon_28'
        Name='Latency.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Latency.bmp' />

        <File Id='PICML_icon_29'
        Name='Max.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Max.bmp' />

        <File Id='PICML_icon_30'
        Name='Min.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Min.bmp' />

        <File Id='PICML_icon_31'
        Name='MonolithicImplementation.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\MonolithicImplementation.bmp' />

        <File Id='MultiInputAction.bmp'
        Name='MultiInputAction.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\MultiInputAction.bmp' />

        <File Id='PICML_icon_32'
        Name='Node.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Node.bmp' />

        <File Id='PICML_icon_33'
        Name='NodeGroup.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\NodeGroup.bmp' />

        <File Id='PICML_icon_34'
        Name='OutputAction.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\OutputAction.bmp' />

        <File Id='PICML_icon_35'
        Name='PackageConfiguration.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\PackageConfiguration.bmp' />

        <File Id='PICML_icon_36'
        Name='PackageConfigurationReference.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\PackageConfigurationReference.bmp' />

        <File Id='PICML_icon_37'
        Name='PackageReference.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\PackageReference.bmp' />

        <File Id='PICML_icon_38'
        Name='Periodic-Bench.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Periodic-Bench.bmp' />

        <File Id='PICML_icon_39'
        Name='PolicySet.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\PolicySet.bmp' />

        <File Id='PICML_icon_40'
        Name='PolicySetRef.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\PolicySetRef.bmp' />

        <File Id='PICML_icon_41'
        Name='PriorityModelPolicy.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\PriorityModelPolicy.bmp' />

        <File Id='PICML_icon_42'
        Name='Property.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Property.bmp' />

        <File Id='QueryAction.bmp'
        Name='QueryAction.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\QueryAction.bmp' />

        <File Id='QueryInputAction.bmp'
        Name='QueryInputAction.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\QueryInputAction.bmp' />

        <File Id='PICML_icon_43'
        Name='RPG.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\RPG.bmp' />

        <File Id='PICML_icon_44'
        Name='RTModel.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\RTModel.bmp' />

        <File Id='PICML_icon_45'
        Name='Requirement.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Requirement.bmp' />

        <File Id='PICML_icon_46'
        Name='Resource.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Resource.bmp' />

        <File Id='PICML_icon_47'
        Name='ResourceContainer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ResourceContainer.bmp' />

        <File Id='PICML_icon_48'
        Name='SatisfierProperty.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\SatisfierProperty.bmp' />

        <File Id='sharedcomponentref'
        Name='sharedcomponentref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\sharedcomponentref.bmp' />

        <File Id='PICML_icon_49'
        Name='SharedResource.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\SharedResource.bmp' />

        <File Id='PICML_icon_50'
        Name='SharedRiskGroup.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\SharedRiskGroup.bmp' />

        <File Id='PICML_icon_51'
        Name='SimpleThreadPool.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\SimpleThreadPool.bmp' />

        <File Id='PICML_icon_52'
        Name='State.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\State.bmp' />

        <File Id='PICML_icon_53'
        Name='ThreadPoolLane.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ThreadPoolLane.bmp' />

        <File Id='PICML_icon_54'
        Name='ThreadPoolRef.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ThreadPoolRef.bmp' />

        <File Id='PICML_icon_55'
        Name='ThreadPoolWithLanes.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ThreadPoolWithLanes.bmp' />

        <File Id='PICML_icon_56'
        Name='Throughput.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Throughput.bmp' />

        <File Id='PICML_icon_57'
        Name='TopLevelPackage.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\TopLevelPackage.bmp' />

        <File Id='PICML_icon_58'
        Name='Trigger-Bench.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\Trigger-Bench.bmp' />

        <File Id='WhileState.bmp'
        Name='WhileState.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\WhileState.bmp' />

        <File Id='PICML_icon_59'
        Name='action.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\action.bmp' />

        <File Id='PICML_icon_60'
        Name='aggregate.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\aggregate.bmp' />

        <File Id='PICML_icon_61'
        Name='aggregateref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\aggregateref.bmp' />

        <File Id='PICML_icon_62'
        Name='alias.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\alias.bmp' />

        <File Id='PICML_icon_63'
        Name='aliasref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\aliasref.bmp' />

        <File Id='PICML_icon_64'
        Name='attribute.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\attribute.bmp' />

        <File Id='PICML_icon_65'
        Name='boolean.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\boolean.bmp' />

        <File Id='PICML_icon_66'
        Name='boxed.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\boxed.bmp' />

        <File Id='PICML_icon_67'
        Name='boxedref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\boxedref.bmp' />

        <File Id='PICML_icon_68'
        Name='byte.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\byte.bmp' />

        <File Id='PICML_icon_69'
        Name='comp-proj.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\comp-proj.bmp' />

        <File Id='PICML_icon_70'
        Name='component.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\component.bmp' />

        <File Id='PICML_icon_71'
        Name='componentassembly.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\componentassembly.bmp' />

        <File Id='PICML_icon_72'
        Name='componentassemblyref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\componentassemblyref.bmp' />

        <File Id='PICML_icon_73'
        Name='componentfactory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\componentfactory.bmp' />

        <File Id='PICML_icon_74'
        Name='componentfactoryref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\componentfactoryref.bmp' />

        <File Id='PICML_icon_75'
        Name='componentref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\componentref.bmp' />

        <File Id='PICML_icon_76'
        Name='composite.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\composite.bmp' />

        <File Id='PICML_icon_77'
        Name='conjunction_group.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\conjunction_group.bmp' />

        <File Id='PICML_icon_78'
        Name='const.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\const.bmp' />

        <File Id='PICML_icon_79'
        Name='discriminator.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\discriminator.bmp' />

        <File Id='PICML_icon_80'
        Name='disjunction_group.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\disjunction_group.bmp' />

        <File Id='PICML_icon_81'
        Name='ec_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_consumer.bmp' />

        <File Id='PICML_icon_82'
        Name='ec_dependency.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_dependency.bmp' />

        <File Id='PICML_icon_83'
        Name='ec_event.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_event.bmp' />

        <File Id='PICML_icon_84'
        Name='ec_option.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_option.bmp' />

        <File Id='PICML_icon_85'
        Name='ec_proxy.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_proxy.bmp' />

        <File Id='PICML_icon_86'
        Name='ec_proxy_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_proxy_consumer.bmp' />

        <File Id='PICML_icon_87'
        Name='ec_proxy_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_proxy_supplier.bmp' />

        <File Id='PICML_icon_88'
        Name='ec_resource_factory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_resource_factory.bmp' />

        <File Id='PICML_icon_89'
        Name='ec_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_supplier.bmp' />

        <File Id='PICML_icon_90'
        Name='ec_supplier_id.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ec_supplier_id.bmp' />

        <File Id='PICML_icon_91'
        Name='enum.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\enum.bmp' />

        <File Id='PICML_icon_92'
        Name='enumref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\enumref.bmp' />

        <File Id='PICML_icon_93'
        Name='enumvalue.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\enumvalue.bmp' />

        <File Id='PICML_icon_94'
        Name='environment.gif'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\environment.gif' />

        <File Id='PICML_icon_95'
        Name='event.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\event.bmp' />

        <File Id='PICML_icon_96'
        Name='event_sink.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\event_sink.bmp' />

        <File Id='PICML_icon_97'
        Name='event_source.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\event_source.bmp' />

        <File Id='PICML_icon_98'
        Name='eventref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\eventref.bmp' />

        <File Id='PICML_icon_99'
        Name='eventtype-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\eventtype-port.bmp' />

        <File Id='PICML_icon_100'
        Name='eventtype.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\eventtype.bmp' />

        <File Id='PICML_icon_101'
        Name='exception.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\exception.bmp' />

        <File Id='PICML_icon_102'
        Name='exceptionref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\exceptionref.bmp' />

        <File Id='PICML_icon_103'
        Name='factory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\factory.bmp' />

        <File Id='PICML_icon_104'
        Name='file.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\file.bmp' />

        <File Id='PICML_icon_105'
        Name='fileref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\fileref.bmp' />

        <File Id='PICML_icon_106'
        Name='genericobject.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\genericobject.bmp' />

        <File Id='PICML_icon_107'
        Name='genericvalue.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\genericvalue.bmp' />

        <File Id='PICML_icon_108'
        Name='genericvalueobject.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\genericvalueobject.bmp' />

        <File Id='PICML_icon_109'
        Name='getexception.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\getexception.bmp' />

        <File Id='PICML_icon_110'
        Name='in.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\in.bmp' />

        <File Id='PICML_icon_111'
        Name='inevent_lf.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\inevent_lf.bmp' />

        <File Id='PICML_icon_112'
        Name='inevent_rt.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\inevent_rt.bmp' />

        <File Id='PICML_icon_113'
        Name='ineventport.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ineventport.bmp' />

        <File Id='PICML_icon_114'
        Name='inherits.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\inherits.bmp' />

        <File Id='PICML_icon_115'
        Name='inout.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\inout.bmp' />

        <File Id='PICML_icon_116'
        Name='label.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\label.bmp' />

        <File Id='PICML_icon_117'
        Name='logical_and_group.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\logical_and_group.bmp' />

        <File Id='PICML_icon_118'
        Name='long.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\long.bmp' />

        <File Id='PICML_icon_119'
        Name='lookup.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\lookup.bmp' />

        <File Id='PICML_icon_120'
        Name='lookupkey.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\lookupkey.bmp' />

        <File Id='PICML_icon_121'
        Name='member.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\member.bmp' />

        <File Id='PICML_icon_122'
        Name='ns_admin.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_admin.bmp' />

        <File Id='PICML_icon_123'
        Name='ns_config.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_config.bmp' />

        <File Id='PICML_icon_124'
        Name='ns_constraint.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_constraint.bmp' />

        <File Id='PICML_icon_125'
        Name='ns_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_consumer.bmp' />

        <File Id='PICML_icon_126'
        Name='ns_event.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_event.bmp' />

        <File Id='PICML_icon_127'
        Name='ns_filter-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_filter-port.bmp' />

        <File Id='PICML_icon_128'
        Name='ns_filter.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_filter.bmp' />

        <File Id='PICML_icon_129'
        Name='ns_option.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_option.bmp' />

        <File Id='PICML_icon_130'
        Name='ns_proxy.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_proxy.bmp' />

        <File Id='PICML_icon_131'
        Name='ns_proxy_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_proxy_consumer.bmp' />

        <File Id='PICML_icon_132'
        Name='ns_proxy_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_proxy_supplier.bmp' />

        <File Id='PICML_icon_133'
        Name='ns_qos-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_qos-port.bmp' />

        <File Id='PICML_icon_134'
        Name='ns_qos.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_qos.bmp' />

        <File Id='PICML_icon_135'
        Name='ns_resource_factory-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_resource_factory-port.bmp' />

        <File Id='PICML_icon_136'
        Name='ns_resource_factory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_resource_factory.bmp' />

        <File Id='PICML_icon_137'
        Name='ns_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\ns_supplier.bmp' />

        <File Id='PICML_icon_138'
        Name='object.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\object.bmp' />

        <File Id='PICML_icon_139'
        Name='objectref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\objectref.bmp' />

        <File Id='PICML_icon_140'
        Name='oneway.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\oneway.bmp' />

        <File Id='PICML_icon_141'
        Name='operationref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\operationref.bmp' />

        <File Id='PICML_icon_142'
        Name='out.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\out.bmp' />

        <File Id='PICML_icon_143'
        Name='outevent_lf.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\outevent_lf.bmp' />

        <File Id='PICML_icon_144'
        Name='outevent_rt.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\outevent_rt.bmp' />

        <File Id='PICML_icon_145'
        Name='outeventport.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\outeventport.bmp' />

        <File Id='PICML_icon_146'
        Name='package.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\package.bmp' />

        <File Id='PICML_icon_147'
        Name='periodic.gif'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\periodic.gif' />

        <File Id='PICML_icon_148'
        Name='private.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\private.bmp' />

        <File Id='PICML_icon_149'
        Name='project.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\project.bmp' />

        <File Id='PICML_icon_150'
        Name='providedrequestport.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\providedrequestport.bmp' />

        <File Id='PICML_icon_151'
        Name='readonlyattribute.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\readonlyattribute.bmp' />

        <File Id='PICML_icon_152'
        Name='realnumber.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\realnumber.bmp' />

        <File Id='PICML_icon_153'
        Name='receptacle_lf.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\receptacle_lf.bmp' />

        <File Id='PICML_icon_154'
        Name='receptacle_rt.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\receptacle_rt.bmp' />

        <File Id='PICML_icon_155'
        Name='refarrow.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\refarrow.bmp' />

        <File Id='PICML_icon_156'
        Name='requiredrequestport.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\requiredrequestport.bmp' />

        <File Id='PICML_icon_157'
        Name='return.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\return.bmp' />

        <File Id='PICML_icon_158'
        Name='rt_info-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\rt_info-port.bmp' />

        <File Id='PICML_icon_159'
        Name='rt_info.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\rt_info.bmp' />

        <File Id='PICML_icon_160'
        Name='rtec_proxy_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\rtec_proxy_consumer.bmp' />

        <File Id='PICML_icon_161'
        Name='rtec_proxy_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\rtec_proxy_supplier.bmp' />

        <File Id='PICML_icon_162'
        Name='rtec_resource_factory-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\rtec_resource_factory-port.bmp' />

        <File Id='PICML_icon_163'
        Name='rtec_resource_factory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\rtec_resource_factory.bmp' />

        <File Id='rtrequirements.bmp'
              Name='rtrequirements.bmp'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\rtrequirements.bmp' />

        <File Id='PICML_icon_164'
        Name='setexception.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\setexception.bmp' />

        <File Id='PICML_icon_165'
        Name='setexceptionref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\setexceptionref.bmp' />

        <File Id='PICML_icon_166'
        Name='short.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\short.bmp' />

        <File Id='PICML_icon_167'
        Name='string.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\string.bmp' />

        <File Id='PICML_icon_168'
        Name='supports.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\supports.bmp' />

        <File Id='PICML_icon_169'
        Name='switchedaggregate.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\switchedaggregate.bmp' />

        <File Id='PICML_icon_170'
        Name='switchedaggregateref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\switchedaggregateref.bmp' />

        <File Id='PICML_icon_171'
        Name='task.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\task.bmp' />

        <File Id='PICML_icon_172'
        Name='taskset.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\taskset.bmp' />

        <File Id='PICML_icon_173'
        Name='timer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\timer.bmp' />

        <File Id='PICML_icon_174'
        Name='twoway.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\twoway.bmp' />

        <File Id='PICML_icon_175'
        Name='typeencoding.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\typeencoding.bmp' />

        <File Id='PICML_icon_176'
        Name='typekind.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\typekind.bmp' />

        <File Id='PICML_icon_177'
        Name='value.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\value.bmp' />

        <File Id='PICML_icon_178'
        Name='valueref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\valueref.bmp' />

        <File Id='PICML_icon_179'
        Name='variablecollection.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\variablecollection.bmp' />

        <File Id='PICML_icon_180'
        Name='variablecollectionref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\variablecollectionref.bmp' />

        <File Id='PICML_icon_181'
        Name='vertex.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\vertex.bmp' />

        <File Id='PICML_icon_182'
        Name='worker.gif'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\worker.gif' />

        <File Id='PICML_icon_183'
        Name='workerref.gif'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\workerref.gif' />

        <File Id='PICML_icon_184'
        Name='workspace.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PIM\PICML\paradigms\icons\workspace.bmp' />

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
