<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="PICMLManagerFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='PICMLManagerLibrary' Guid='B744B044-436A-4463-AF72-41D1D94815D9'>
        <File Id='PICMLManagerDLL'
              Name='PICMLManager.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\PICMLManager.dll' />

        <RegistryKey Root="HKLM" Key="Software\Classes" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" Action="create" />
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{B744B044-436A-4463-AF72-41D1D94815D9}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.AddOn.PICMLManager" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{B744B044-436A-4463-AF72-41D1D94815D9}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.AddOn.PICMLManager" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{B744B044-436A-4463-AF72-41D1D94815D9}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="PICMLManager.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.AddOn.PICMLManager"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.AddOn.PICMLManager" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.AddOn.PICMLManager\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{B744B044-436A-4463-AF72-41D1D94815D9}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.AddOn.PICMLManager"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="Simplies the creation of PICML models" Type="string" />
          <RegistryValue Name="Paradigm" Value="PICML, CQML" Type="string" />
          <RegistryValue Name="Type" Value="2" Type="integer" />
          <RegistryValue Name="Description" Value="PICMLManager" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.AddOn.PICMLManager\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="PICML" Value="" Type="string" />
        </RegistryKey>

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
