<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="PICMLManagerFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='PICMLManagerLibrary' Guid='B744B044-436A-4463-AF72-41D1D94815D9'>
        <File Id='PICMLManagerDLL'
              Name='PICMLManager.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\PICMLManager.dll' />
      </Component>

      <!--
           PICMLManager is separated in two components because its
           registry keys are per-user whereas the files are per-machine.
      -->
      <Component Id='PICMLManagerRegistry' Guid='D3B54E68-8CE5-45f2-99BD-5F028AA633E8'>
        <RegistryKey Root="HKCU" Key="Software\Classes" Action="create"/>
        <RegistryKey Root="HKCU" Key="Software\Classes\CLSID" Action="create" />
        <RegistryKey Root="HKCU" Key="Software\Classes\CLSID\{B744B044-436A-4463-AF72-41D1D94815D9}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.AddOn.PICMLManager" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Classes\CLSID\{B744B044-436A-4463-AF72-41D1D94815D9}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.AddOn.PICMLManager" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Classes\CLSID\{B744B044-436A-4463-AF72-41D1D94815D9}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]PICMLManager.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Classes\MGA.AddOn.PICMLManager"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.AddOn.PICMLManager" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\Classes\MGA.AddOn.PICMLManager\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{B744B044-436A-4463-AF72-41D1D94815D9}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\GME\Components\MGA.AddOn.PICMLManager"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="Simplifies creation of PICML and CQML models" Type="string" />
          <RegistryValue Name="Paradigm" Value="PICML, CQML" Type="string" />
          <RegistryValue Name="Type" Value="2" Type="integer" />
          <RegistryValue Name="Description" Value="PICMLManager" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCU" Key="Software\GME\Components\MGA.AddOn.PICMLManager\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="PICML" Value="" Type="string" />
          <RegistryValue Name="CQML" Value="" Type="string" />
        </RegistryKey>

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
