<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="CQMLDocsFrag">
    <DirectoryRef Id="CoSMICDocsDir">
      <Component Id='CQMLDocs' Guid='AA125D9D-481F-4549-8857-F2404A203E80'>
        <File Id='SQMLProjectReport.pdf'
              Name='SQML - Project Report.pdf'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\psm\CQML\docs\SQML - Project Report.pdf' >

          <Shortcut Id="SQMLProjectReportShortCut" Directory="CoSMICProgramMenuDocsDir"
                    Name="SQML - Project Report" WorkingDirectory='CoSMICDocsDir'
                    Advertise="yes" />
        </File>

        <RemoveFolder Id='CQMLDocsDirRemover' On='uninstall' />
      
      </Component>
    </DirectoryRef>
</Fragment>
</Wix>