<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <?define COSMIC_ROOT = "$(env.COSMIC_ROOT)" ?>
  <?define ACE_ROOT = "$(env.ACE_ROOT)" ?>
  <?define TAO_ROOT = "$(env.TAO_ROOT)" ?>
  <?define UDM_PATH = "$(env.UDM_PATH)" ?>
  <?define XERCESCROOT = "$(env.XERCESCROOT)" ?>

  <Fragment Id="BIRSpecificationComponentFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='BIRSpecificationComponentLibrary' Guid='529AD9E3-6AF7-4C59-8720-834BE28D1A32'>
        <File Id='BIRSpecificationDLL'
              Name='BIRS.dll'
              LongName='BIRSpecification.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\BIRSpecification.dll' />
        <File Id='BIRSpecificationComponentDLL'
              Name='BIRSC.dll'
              LongName='BIRSpecificationComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\BIRSpecificationComponent.dll' />

        <Registry Root="HKCU" Key="Software\Classes" />
        <Registry Root="HKCU" Key="Software\Classes\CLSID" />
        <Registry Root="HKCU" Key="Software\Classes\CLSID\{529AD9E3-6AF7-4C59-8720-834BE28D1A32}"
                  Value="MGA.Interpreter.BIRSpecification" Type="string" />
        <Registry Root="HKCU" Key="Software\Classes\CLSID\{529AD9E3-6AF7-4C59-8720-834BE28D1A32}\ProgID"
                  Value="MGA.Interpreter.BIRSpecification" Type="string" />
        <Registry Root="HKCU" Key="Software\Classes\CLSID\{529AD9E3-6AF7-4C59-8720-834BE28D1A32}\InProcServer32"
                  Value="BIRSpecificationComponent.dll" Type="string" />
        <Registry Root="HKCU" Key="Software\Classes\MGA.Interpreter.BIRSpecification"
                  Value="MGA.Interpreter.BIRSpecification" Type="string" />
        <Registry Root="HKCU" Key="Software\Classes\MGA.Interpreter.BIRSpecification\CLSID"
                  Value="{529AD9E3-6AF7-4C59-8720-834BE28D1A32}" Type="string" />
        <Registry Root="HKCU" Key="Software\GME\Components\MGA.Interpreter.BIRSpecification">
          <Registry Name="Tooltip" Value="Run BIR Generation Interpreter" Type="string" />
          <Registry Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <Registry Name="Paradigm" Value="CQML" Type="string" />
          <Registry Name="Type" Value="1" Type="integer" />
          <Registry Name="Description" Value="BIRSpecification" Type="string" />
        </Registry>
        <Registry Root="HKCU" Key="Software\GME\Components\MGA.Interpreter.BIRSpecification\Associated"
                  Name="CQML" Type="string" />

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
