<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include EnvironmentVars.wxi ?>

  <Fragment Id="CoSMICRegistryFrag">

    <Feature Id='CoSMICRegistryFeature'
             Display="hidden"
             TypicalDefault="install"
             Level='1'>
      <ComponentRef Id='CoSMICRegistry' />
    </Feature>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id='CoSMICRegistry' Guid='C4DA0B16-D93C-407A-AFFD-E4C918C2884D'>
        <RegistryKey Root='HKLM' Key='Software\ISIS' 
                     Action="create"/>
        <RegistryValue Id='CoSMICTargetDir'
                       Root='HKLM'
                       Key='SOFTWARE\ISIS\CoSMIC'
                       Name='TargetDir'
                       Action='write'
                       Type='string'
                       Value='[INSTALLDIR]' />
        <Environment Id='UpdatePath'
                     Name='Path'
                     System='yes'
                     Part='last'
                     Value='[CoSMICBinDir]'
                     Action='set' />
        <Environment Id='COSMIC_ROOTVar'
                     Name='COSMIC_ROOT'
                     Action='create'
                     System='yes'
                     Value='[INSTALLDIR]' />
      </Component>
    </DirectoryRef>
    
  </Fragment>
</Wix>