<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include EnvironmentVars.wxi ?>

  <Fragment Id="CoSMICRegistryFrag">

    <Feature Id='CoSMICRegistryFeature'
             Display="hidden"
             TypicalDefault="install"
             Level='1'>
      <ComponentRef Id='CoSMICRegistryValues' />
      <ComponentRef Id='NotesShortcutComponent' />
      <ComponentRef Id="DocsShortcutComponent" />
      <ComponentRef Id='CoSMICRegistryFiles' />
    </Feature>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id='CoSMICRegistryValues' Guid='C4DA0B16-D93C-407A-AFFD-E4C918C2884D'>
        <RegistryKey Root='HKLM' Key='Software\ISIS'
                     Action="create"/>
        <RegistryValue Id='CoSMICTargetDir'
                       Root='HKLM'
                       Key='SOFTWARE\ISIS\CoSMIC'
                       Name='TargetDir'
                       Action='write'
                       Type='string'
                       Value='[INSTALLDIR]' />
        <Environment Id='UpdatePath'
                     Name='Path'
                     System='yes'
                     Part='last'
                     Value='[CoSMICBinDir]'
                     Action='set' />
        <Environment Id='COSMIC_ROOTVar'
                     Name='COSMIC_ROOT'
                     Action='create'
                     System='yes'
                     Value='[INSTALLDIR]' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="CoSMICProgramMenuDir">
      <Component Id="NotesShortcutComponent" Guid="4A277173-A911-4F1F-B506-993573708189">
        
        <RemoveFolder Id="CleanupShortcutNotesFolder" On="uninstall" />

        <RegistryKey Root="HKCU" Key="Software\ISIS\CoSMIC" 
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="INSTALLDIR" Value="[INSTALLDIR]" 
                         Type="string" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="CoSMICProgramMenuDocsDir">
      <Component Id="DocsShortcutComponent" Guid="D9B0D77F-C3EF-4AAA-97F4-D248A8068551">
        <RemoveFolder Id="CleanupShortcutDocsFolder" On="uninstall" />

        <RegistryKey Root="HKCU" Key="Software\ISIS\CoSMIC" 
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="DOCSDIR" Value="[CoSMICDocsDir]" 
                         Type="string" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="CoSMICProgramMenuDir">
      <Component Id="Uninstaller"
                 Guid="C981D60E-18DF-4F53-B6D3-2160B5B1A68B" >
        <RegistryKey Root="HKCU" Key="Software\ISIS\CoSMIC" 
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Uninstaller" Value="msiexec.exe /x {product GUID}" 
                         Type="string" KeyPath="yes" />
        </RegistryKey>
        <Shortcut Id="CoSMICUninstallShortCut" Directory="CoSMICProgramMenuDir"
                  Name="Uninstall CoSMIC" WorkingDirectory='SystemDir'
                  Target="[UNINSTALLCMD]"
                  Arguments="/x {A91C0917-9925-4B7E-AA7E-4FCD294CC5EC}"
                  Description="Uninstalls CoSMIC from this computer." />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="CoSMICRegDir">
      <Component Id='CoSMICRegistryFiles' Guid='98AB6F4A-F154-44a2-B257-84156D80CB09'>
        <File Id='PICMLManager_Reg'
              Name='PICMLManager.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\addons\PICMLManager\PICMLManager.reg' />

        <File Id='PICMLDecorator_Reg'
              Name='PICMLDecorator.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\decorators\PICMLDecorator.reg' />

        <File Id='BGMLComponent_Reg'
              Name='BGMLComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\interpreters\BGMLComponent\BGMLComponent.reg' />

        <File Id='CIDLComponent_Reg'
              Name='CIDLComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\interpreters\CIDLComponent\CIDLComponent.reg' />

        <File Id='DeploymentPlanComponent_Reg'
              Name='DeploymentPlanComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\interpreters\DeploymentPlanComponent\DeploymentPlanComponent.reg' />

        <File Id='IDLGenerator_Reg'
              Name='IDLGenerator.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\interpreters\IDLGenerator\IDLGenerator.reg' />

        <File Id='MPCComponent_Reg'
              Name='MPCComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\interpreters\MPCComponent\MPCComponent.reg' />

        <File Id='PackageComponent_Reg'
              Name='PackageComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\interpreters\PackageComponent\PackageComponent.reg' />

        <File Id='PAMComponent_Reg'
              Name='PAMComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\interpreters\PAMComponent\PAMComponent.reg' />

        <File Id='PathComponent_Reg'
              Name='PathComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\interpreters\PathComponent\PathComponent.reg' />

        <File Id='DomainComponent_Reg'
              Name='DomainComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PIM\PICML\interpreters\TargetComponent\DomainComponent.reg' />

        <File Id='BIRSpecificationComponent_Reg'
              Name='BIRSpecificationComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\interpreters\BIRSpecificationComponent\BIRSpecificationComponent.reg' />

        <File Id='CIAOEventsComponent_Reg'
              Name='CIAOEventsComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\interpreters\CIAOEventsComponent\CIAOEventsComponent.reg' />

        <File Id='FaultToleranceComponent_Reg'
              Name='FaultToleranceComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\interpreters\FaultToleranceComponent\FaultToleranceComponent.reg' />

        <File Id='NetQoSComponent_Reg'
              Name='NetQoSComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\interpreters\NetQoSComponent\NetQoSComponent.reg' />

        <File Id='RTConfigurationComponent_Reg'
              Name='RTConfigurationComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\interpreters\RTConfigurationComponent\RTConfigurationComponent.reg' />

        <File Id='SecurityQoSComponent_Reg'
              Name='SecurityQoSComponent.reg'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\interpreters\SecurityQoSComponent\SecurityQoSComponent.reg' />

      </Component>
    </DirectoryRef>
        </Fragment>
</Wix>