<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include EnvironmentVars.wxi ?>

  <Product Name='CoSMIC' Id='A91C0917-9925-4B7E-AA7E-4FCD294CC5EC'
           Language='1033' Codepage='1252'
           Version='0.7.3'
           Manufacturer='Institute for Software Integrated Systems (ISIS)'
           UpgradeCode='42C014ED-7C97-4107-94CD-2028CDBA3FD1'>

    <Package Keywords='Installer'
             Description="Component Synthesis with Model Integrated Computing (CoSMIC) Installer"
             Comments='CoSMIC is open-source.'
             Manufacturer='Institute for Software Integrated Systems (ISIS)'
             InstallerVersion='300' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <!-- Wix variables -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.COSMIC_ROOT)/License.rtf" />

    <Condition Message='CoSMIC Installer is not suported on Windows 95/98/ME.'>
      NOT Version9X
    </Condition>
    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>

<?if $(var.GME_VERSION) = 9_8_28 ?>
    <Condition Message="This CoSMIC installer requires GME 9.8.28 preinstalled on your machine. Please install GME 9.8.28 first.">
      GMEINSTALLED
    </Condition>
<?endif ?>

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="ISIS's CoSMIC Installation [1]" />

    <Property Id="GMEINSTALLED">
      <RegistrySearch Id="GMEInstalledRegSearch"
                      Root="HKLM" Key="SOFTWARE\GME\Paradigms\MetaGME"
                      Name="CurrentVersion" Type="raw" />
    </Property>

    <!-- UI -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <!--
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_FeatureTree" />
    -->
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Features -->
    <FeatureRef Id="CoSMICRegistryFeature" />
    <FeatureRef Id="PICMLParadigmFeature" />
    <FeatureRef Id="CQMLParadigmFeature" />
    <!--
    POSAML is not compliant with CoSMIC build procedure
    <FeatureRef Id="POSAMLParadigmFeature" />
    -->
    <FeatureRef Id='QUICKERFeature' />
    <FeatureRef Id="CoSMICCommonFeature" />
    <FeatureRef Id="vc_merge_modules" />
    <FeatureRef Id='LEESAFeature' />

    <InstallExecuteSequence>
     <Custom Action='GMEVersion' After='InstallInitialize' >
        NOT Installed
      </Custom>
      <Custom Action='ParadigmRegister' After='PublishProduct' >
        NOT Installed
      </Custom>
      <Custom Action='TargetDirRegFailed' After='ParadigmRegister'>
        TARGETDIRACCEPTED = "0" AND NOT Installed
      </Custom>
      <Custom Action='ParadigmUnRegisterIfFailure' Before='ParadigmRegister' />
      <Custom Action='ParadigmUnRegisterWhenUninstall' Before='RemoveRegistryValues' >
        Installed
      </Custom>
      <Custom Action="SetUninstallCmd" Before="FindRelatedProducts" />
    </InstallExecuteSequence>

  </Product>
</Wix>
