<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="CoSMICNotesFrag">
    <DirectoryRef Id="INSTALLDIR">
      
      <Component Id='CoSMICReadme' Guid='5DDD4E5E-55F7-4AF3-A334-77F6610A9D67'>
        <File Id='Readme.rtf' Name='Readme.rtf'
              DiskId='1' Source='$(var.COSMIC_ROOT)/Readme.rtf' KeyPath="yes" >

          <Shortcut Id="READMEShortCut" Directory="CoSMICProgramMenuDir"
                    Name="README" WorkingDirectory='INSTALLDIR'
                    Advertise="yes" />
        </File>
      </Component>
      
      <Component Id='CoSMICLicense' Guid='136E61E7-6B7B-4BAD-A9C1-C77BBC030678'>
        <File Id='License.rtf' Name='License.rtf'
              DiskId='1' Source='$(var.COSMIC_ROOT)/License.rtf' KeyPath="yes">

          <Shortcut Id="LicenseShortCut" Directory="CoSMICProgramMenuDir"
                    Name="License" WorkingDirectory='INSTALLDIR'
                    Advertise="yes" />
        </File>
      </Component>
      
      <Component Id='CoSMIC_VERSION_NEWS' Guid='159C7636-459C-4a31-86CD-7448CF08E30A'>

        <File Id='CoSMIC_VERSION' Name='VERSION'
              DiskId='1' Source='$(var.COSMIC_ROOT)/VERSION' />
        <File Id='CoSMIC_NEWS' Name='NEWS'
              DiskId='1' Source='$(var.COSMIC_ROOT)/NEWS' />
        <File Id='CoSMIC_PROBLEM_REPORT_FORM' Name='PROBLEM-REPORT-FORM'
              DiskId='1' Source='$(var.COSMIC_ROOT)/PROBLEM-REPORT-FORM' />
        
      </Component>
      
      <Component Id='CoSMICNotes' Guid='FB90E9A6-D0BE-46EE-9440-1FBFC0353112'>
        <File Id='ReleaseNotes.rtf' Name='ReleaseNotes.rtf'
              DiskId='1' Source='$(var.COSMIC_ROOT)/ReleaseNotes.rtf' KeyPath="yes" >

          <Shortcut Id="ReleaseNotesShortCut" Directory="CoSMICProgramMenuDir"
                    Name="Release Notes" WorkingDirectory='INSTALLDIR'
                    Advertise="yes" />
        </File>

        <RemoveFolder Id='CQMLNotesDirRemover' On='uninstall' />

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>