<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include EnvironmentVars.wxi ?>

  <Fragment Id="CQMLFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='CQMLLibrary' Guid='901B9BEC-97AF-4587-B672-5C67FE37596D'>
        <File Id='CQMLDLL'
              Name='CQML.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\CQML.dll' />
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>