<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include EnvironmentVars.wxi ?>

  <Fragment Id="CustomActionsFrag">
    <CustomAction Id='GMEVersion'
              BinaryKey='RegistrationBinary'
              DllEntry='CheckGMEVersion_$(var.GME_VERSION)'
              Execute='deferred'
              Impersonate='no'
              Return='check' />

    <CustomAction Id='ParadigmRegister'
                  BinaryKey='RegistrationBinary'
                  DllEntry='RegisterParadigms'
                  Execute='deferred'
                  Impersonate='no'
                  Return='check' />
    <CustomAction Id='TargetDirRegFailed'
                  Error='TargetDir registry key could not be accessed. Installation aborted.' />
    <CustomAction Id='ParadigmUnRegisterIfFailure'
                  BinaryKey='RegistrationBinary'
                  DllEntry='UnRegisterParadigms'
                  Execute='rollback' />
    <CustomAction Id='ParadigmUnRegisterWhenUninstall'
                  BinaryKey='RegistrationBinary'
                  DllEntry='UnRegisterParadigms'
                  Execute='deferred'
                  Impersonate='no'
                  Return='check'/>

    <CustomAction Id="SetUninstallCmd" 
                  Property="UNINSTALLCMD" 
                  Value="MSIEXEC.EXE" />

    <Binary Id='RegistrationBinary' 
            SourceFile='$(var.COSMIC_ROOT)\bin\RegisterParadigm.dll' />
  </Fragment>
</Wix>