<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include EnvironmentVars.wxi ?>

  <Fragment Id="DeploymentPlanFrameworkFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='DeploymentPlanFrameworkLibrary' Guid='EB1DF94F-FF1D-4145-8C9F-B76B91973B0D'>
        <File Id='DeploymentPlanFrameworkDLL'
              Name='DeploymentPlanFramework.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\DeploymentPlanFramework.dll' />
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>