<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include EnvironmentVars.wxi ?>

  <Fragment Id="DirectoriesFrag">
    <Directory Id='TARGETDIR' Name='SourceDir' >
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='ISISDir' Name='ISIS'>
          <Directory Id='INSTALLDIR' Name='CoSMIC'>
            <Directory Id='CoSMICDocsDir' Name='docs' FileSource='[INSTALLDIR]docs' />
            <Directory Id='CoSMICBinDir' Name='bin' FileSource='[INSTALLDIR]bin'>
              <Directory Id='CoSMICMicrosoft.VC80.ATLDir' Name='Microsoft.VC80.ATL' FileSource='[CoSMICBinDir]Microsoft.VC80.ATL' />
              <Directory Id='CoSMICMicrosoft.VC80.CRTDir' Name='Microsoft.VC80.CRT' FileSource='[CoSMICBinDir]Microsoft.VC80.CRT' />
              <Directory Id='CoSMICMicrosoft.VC80.MFCDir' Name='Microsoft.VC80.MFC' FileSource='[CoSMICBinDir]Microsoft.VC80.MFC' />
            </Directory>
            <Directory Id='CoSMICParadigmsDir' Name='paradigms' FileSource='[INSTALLDIR]paradigms' >
              <Directory Id='PICMLParadigmDir' Name='PICML' FileSource='[CoSMICParadigmsDir]PICML' >
                <Directory Id='PICMLExamplesDir' Name='examples' FileSource='[PICMLParadigmDir]examples' />
                <Directory Id='PICMLIconsDir' Name='icons' FileSource='[PICMLParadigmDir]icons' />
              </Directory>
              <Directory Id='POSAMLParadigmDir' Name='POSAML' FileSource='[CoSMICParadigmsDir]POSAML' >
                <Directory Id='POSAMLExamplesDir' Name='examples' FileSource='[POSAMLParadigmDir]examples' />
                <Directory Id='POSAMLIconsDir' Name='icons' FileSource='[POSAMLParadigmDir]icons' />
              </Directory>
              <Directory Id='CQMLParadigmDir' Name='CQML' FileSource='[CoSMICParadigmsDir]CQML' >
                <Directory Id='CQMLExamplesDir' Name='examples' FileSource='[CQMLParadigmDir]examples' />
                <Directory Id='CQMLIconsDir' Name='icons' FileSource='[CQMLParadigmDir]icons' />
              </Directory>
            </Directory>
            <Directory Id='CoSMICTransformationsDir' Name='transformations' FileSource='[INSTALLDIR]transformations' >
              <Directory Id='QUICKERTransDir' Name='QUICKER' FileSource='[CoSMICTransformationsDir]QUICKER' >
                <Directory Id='QUICKERExamplesDir' Name='examples' FileSource='[QUICKERTransDir]examples' />
                <Directory Id='QUICKERParadigmsDir' Name='paradigms' FileSource='[QUICKERTransDir]paradigms' />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="CoSMICProgramMenuDir" Name='CoSMIC' >
          <Directory Id="CoSMICProgramMenuDocsDir" Name="Documentation" />
        </Directory>
      </Directory>

    </Directory>

  </Fragment>
</Wix>