<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="FaultToleranceComponentFrag">
    <?include EnvironmentVars.wxi ?>

    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='FaultToleranceComponentLibrary'
                 Guid='6e84cd34-4808-4880-b22a-60752e49a589'>
        <File Id='FaultToleranceDLL'
              Name='FaultTolerance.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\FaultTolerance.dll' />
        <File Id='FaultToleranceComponentDLL'
              Name='FaultToleranceComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\FaultToleranceComponent.dll' />
        <RegistryKey Root="HKLM" Key="Software\Classes"
                     Action="create" />
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID"
                     Action="create" />
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{6e84cd34-4808-4880-b22a-60752e49a589}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.FaultToleranceComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{6e84cd34-4808-4880-b22a-60752e49a589}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.FaultToleranceComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{6e84cd34-4808-4880-b22a-60752e49a589}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="FaultToleranceComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.FaultToleranceComponent"
                     Action="createAndRemoveOnUninstall" >
          <RegistryValue Value="MGA.Interpreter.FaultToleranceComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.FaultToleranceComponent\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{6e84cd34-4808-4880-b22a-60752e49a589}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.FaultToleranceComponent"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="FaultToleranceComponent Interpreter" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="CQML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="FaultToleranceComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.FaultToleranceComponent\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="CQML" Value="" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
