<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="ConfiguratorInterpreterFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='ConfiguratorInterpreterLibrary' Guid='A5B6B00A-ABB6-4CF0-B8CB-BDEC1B64C41E'>
            <File Id='ConfiguratorInterpreterDLL'
              Name='ConfiguratorInterpreter.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\ConfiguratorInterpreter.dll' />

        <RegistryKey Root="HKLM" Key="Software\Classes" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{A5B6B00A-ABB6-4CF0-B8CB-BDEC1B64C41E}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.ConfiguratorInterpreter" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{A5B6B00A-ABB6-4CF0-B8CB-BDEC1B64C41E}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.ConfiguratorInterpreter" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{A5B6B00A-ABB6-4CF0-B8CB-BDEC1B64C41E}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]ConfiguratorInterpreter.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.ConfiguratorInterpreter"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.ConfiguratorInterpreter" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.ConfiguratorInterpreter\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{A5B6B00A-ABB6-4CF0-B8CB-BDEC1B64C41E}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.ConfiguratorInterpreter"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="Generate AOP Configurator files" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="POSAML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="ConfiguratorInterpreter" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.ConfiguratorInterpreter\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="POSAML" Value="" Type="string" />
        </RegistryKey>

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
