<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id='CoSMIC_common'>
    <DirectoryRef Id='CoSMICBinDir'>
<?if $(var.type) = vc71 ?>
      <Component Id='VC71.Debug' Guid='E679928E-B1B4-4D5E-8E61-29868410AC5A'>
        <File Id='MFC71D.DLL'
              Name='MFC71D.DLL'
              DiskId='1'
              Source='$(env.SystemRoot)\system32\MFC71D.dll' />

        <File Id='MSVCP71D.DLL'
              Name='MSVCP71D.DLL'
              DiskId='1'
              Source='$(env.SystemRoot)\system32\MSVCP71D.DLL' />

        <File Id='MSVCR71D.DLL'
              Name='MSVCR71D.DLL'
              DiskId='1'
              Source='$(env.SystemRoot)\system32\MSVCR71D.DLL' />
      </Component>

      <!-- C runtime for VC71 -->
      <Merge Id='VC_User_CRT71_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_CRT71_RTL_X86_---.msm' />

      <!-- STL runtime for VC71 -->
      <Merge Id='VC_User_STL71_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_STL71_RTL_X86_---.msm' />

      <!-- MFC runtime for VC71 -->
      <Merge Id='VC_User_MFC71_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_MFC71_RTL_X86_---.msm' />

      <!-- MFC Localization for VC71 -->
      <Merge Id='VC_User_MFC71_Loc_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_MFC71_Loc_RTL_X86_---.msm' />

      <!-- ATL runtime for VC71 -->
      <Merge Id='VC_User_ATL71_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_ATL71_RTL_X86_---.msm' />

<?elseif $(var.type) = vc8 ?>
      <!-- C runtime for VC8 -->
      <Merge Id='Microsoft_VC80_CRT_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC80_CRT_x86.msm' />

      <Merge Id='policy_8_0_Microsoft_VC80_CRT_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_8_0_Microsoft_VC80_CRT_x86.msm' />

      <!-- ATL for VC8 -->
      <Merge Id='Microsoft_VC80_ATL_x86.msm' DiskId='1' Language='0'
         SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC80_ATL_x86.msm' />

      <Merge Id='policy_8_0_Microsoft_VC80_ATL_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_8_0_Microsoft_VC80_ATL_x86.msm' />

      <!-- MFC for VC8 -->
      <Merge Id='Microsoft_VC80_MFC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC80_MFC_x86.msm' />

      <Merge Id='policy_8_0_Microsoft_VC80_MFC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_8_0_Microsoft_VC80_MFC_x86.msm' />

      <!-- MFC for Localization -->
      <Merge Id='Microsoft_VC80_MFCLOC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC80_MFCLOC_x86.msm' />

      <Merge Id='policy_8_0_Microsoft_VC80_MFCLOC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_8_0_Microsoft_VC80_MFCLOC_x86.msm' />

<?elseif $(var.type) = vc9 ?>
      <!-- C runtime for VC9 -->
      <Merge Id='Microsoft_VC90_CRT_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC90_CRT_x86.msm' />

      <Merge Id='policy_9_0_Microsoft_VC90_CRT_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_9_0_Microsoft_VC90_CRT_x86.msm' />

      <!-- ATL for VC9 -->
      <Merge Id='Microsoft_VC90_ATL_x86.msm' DiskId='1' Language='0'
         SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC90_ATL_x86.msm' />

      <Merge Id='policy_9_0_Microsoft_VC90_ATL_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_9_0_Microsoft_VC90_ATL_x86.msm' />

      <!-- MFC for VC9 -->
      <Merge Id='Microsoft_VC90_MFC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC90_MFC_x86.msm' />

      <Merge Id='policy_9_0_Microsoft_VC90_MFC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_9_0_Microsoft_VC90_MFC_x86.msm' />

      <!-- MFC for Localization -->
      <Merge Id='Microsoft_VC90_MFCLOC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC90_MFCLOC_x86.msm' />

      <Merge Id='policy_9_0_Microsoft_VC90_MFCLOC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_9_0_Microsoft_VC90_MFCLOC_x86.msm' />

<?endif ?>
    </DirectoryRef>

    <DirectoryRef Id='CoSMICBinDir'>
      <!-- UDM uses UDM_VERSION environmental variable -->
      <Component Id="$(var.UDM_VERSION)" Guid="F069845F-C8E8-48e6-98CB-F9FBDFE76EDD">
        <File Id="$(var.UDM_VERSION).DLL" Name="$(var.UDM_VERSION).DLL"
              Source="$(var.UDM_PATH)\bin\$(var.UDM_VERSION).DLL"
              DiskId="1" />
			  
<?if $(var.GME_VERSION) = 10_2_9 ?>
        <File Id="XERCES_C_2_8.DLL" Name="XERCES-C_2_8.DLL"
              Source="$(env.UDM_PATH)\3rdparty\xerces-c_2_8_0\bin\XERCES-C_2_8.DLL"
              DiskId="1" />
<?endif ?>

<?if $(var.GME_VERSION) = 9_8_28 ?>
        <File Id="XERCES_C_2_8.DLL" Name="XERCES-C_2_8.DLL"
              Source="$(env.UDM_PATH)\3rdparty\xerces-c_2_8_0\bin\XERCES-C_2_8.DLL"
              DiskId="1" />
<?endif ?>

<?if $(var.GME_VERSION) = 7_6_29 ?>
        <File Id="XERCES_C_2_5_0.DLL" Name="XERCES-C_2_5_0.DLL"
              Source="$(env.UDM_PATH)\3rdparty\xerces-c_2_5_0\bin\XERCES-C_2_5_0.DLL"
              DiskId="1" />
<?endif ?>

      </Component>
      <Component Id="CoSMICCommon" Guid="5B59328D-54CE-4A0D-AABF-0FF22CD5781C">
        <File Id='ACEDLL'
              Name='ACE.dll'
              DiskId='1'
              Source='$(var.ACE_ROOT)\lib\ACE.dll'  />

        <File Id='xerces_c.dll'
              Name='xerces-c_$(var.XERCESC_VERSION).dll'
              DiskId='1'
              Source='$(var.XERCESCROOT)\bin\xerces-c_$(var.XERCESC_VERSION).dll'  />

        <File Id='xerces_cd.dll'
              Name='xerces-c_$(var.XERCESC_VERSION)D.dll'
              DiskId='1'
              Source='$(var.XERCESCROOT)\bin\xerces-c_$(var.XERCESC_VERSION)D.dll'  />
      </Component>
    </DirectoryRef>

    <Feature Id="CoSMICCommonFeature" Display="hidden"
             TypicalDefault="install" Level="1" >
      <ComponentRef Id="$(var.UDM_VERSION)" />
      <ComponentRef Id="CoSMICCommon" />
      <ComponentRef Id="CoSMICNotes" />
      <ComponentRef Id="CoSMICReadme" />
      <ComponentRef Id="CoSMICLicense" />
      <ComponentRef Id="CoSMIC_VERSION_NEWS" />
      <ComponentRef Id="Uninstaller" />
    </Feature>

    <!-- Visual Studio merge modules -->
    <Feature Id="vc_merge_modules" Display="hidden"
             TypicalDefault="install"  Level="1">
<?if $(var.type) = vc71 ?>
      <ComponentRef Id="VC71.Debug" />
      <MergeRef Id="VC_User_CRT71_RTL_X86_---.msm" />
      <MergeRef Id="VC_User_STL71_RTL_X86_---.msm" />
      <MergeRef Id="VC_User_ATL71_RTL_X86_---.msm" />
      <MergeRef Id="VC_User_MFC71_RTL_X86_---.msm" />
      <MergeRef Id="VC_User_MFC71_Loc_RTL_X86_---.msm" />
      <?elseif $(var.type) = vc8 ?>
      <!--
      <ComponentRef Id='VC8ATLAssemblies' />
      <ComponentRef Id='VC8CRTAssemblies' />
      <ComponentRef Id='VC8MFCAssemblies' />
-->
      <MergeRef Id="Microsoft_VC80_CRT_x86.msm" />
      <MergeRef Id='policy_8_0_Microsoft_VC80_CRT_x86.msm' />
      <MergeRef Id="Microsoft_VC80_ATL_x86.msm" />
      <MergeRef Id='policy_8_0_Microsoft_VC80_ATL_x86.msm' />
      <MergeRef Id="Microsoft_VC80_MFC_x86.msm" />
      <MergeRef Id='policy_8_0_Microsoft_VC80_MFC_x86.msm' />
      <MergeRef Id="Microsoft_VC80_MFCLOC_x86.msm" />
      <MergeRef Id='policy_8_0_Microsoft_VC80_MFCLOC_x86.msm' />

<?elseif $(var.type) = vc9 ?>
      <MergeRef Id="Microsoft_VC90_CRT_x86.msm" />
      <MergeRef Id='policy_9_0_Microsoft_VC90_CRT_x86.msm' />
      <MergeRef Id="Microsoft_VC90_ATL_x86.msm" />
      <MergeRef Id='policy_9_0_Microsoft_VC90_ATL_x86.msm' />
      <MergeRef Id="Microsoft_VC90_MFC_x86.msm" />
      <MergeRef Id='policy_9_0_Microsoft_VC90_MFC_x86.msm' />
      <MergeRef Id="Microsoft_VC90_MFCLOC_x86.msm" />
      <MergeRef Id='policy_9_0_Microsoft_VC90_MFCLOC_x86.msm' />

      <?endif ?>
    </Feature>

  </Fragment>
</Wix>
