<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="CIDLComponentFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='CIDLComponentLibrary' Guid='112EBB7F-5519-4D45-9873-09D7E83458A0'>
        <File Id='CIDLDLL'
              Name='CIDL.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\CIDL.dll' />
        <File Id='CIDLComponentDLL'
              Name='CIDLComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\CIDLComponent.dll' />

        <RegistryKey Root="HKLM" Key="Software\Classes" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{112EBB7F-5519-4D45-9873-09D7E83458A0}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.CIDL" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{112EBB7F-5519-4D45-9873-09D7E83458A0}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.CIDL" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{112EBB7F-5519-4D45-9873-09D7E83458A0}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]CIDLComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.CIDL"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.CIDL" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.CIDL\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{112EBB7F-5519-4D45-9873-09D7E83458A0}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.CIDL"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="CIDL Interpreter" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="PICML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="CIDL" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.CIDL\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="PICML" Value="" Type="string" />
        </RegistryKey>

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
