<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="BGMLComponentFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='BGMLComponentLibrary' Guid='15DED4A6-FA24-431F-B18E-58E575E61B59'>
        <File Id='BGMLDLL'
              Name='BGML.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\BGML.dll' />
        <File Id='BGMLComponentDLL'
              Name='BGMLComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\BGMLComponent.dll' />

        <RegistryKey Root="HKLM" Key="Software\Classes" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{15DED4A6-FA24-431F-B18E-58E575E61B59}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.BGML" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{15DED4A6-FA24-431F-B18E-58E575E61B59}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.BGML" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{15DED4A6-FA24-431F-B18E-58E575E61B59}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="BGMLComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.BGML"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.BGML" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.BGML\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{15DED4A6-FA24-431F-B18E-58E575E61B59}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.BGML"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="BGML" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="PICML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="BGML" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.BGML\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="PICML" Value="" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
