<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?> 
 
  <Fragment Id="RTConfigurationComponentFrag">
     <DirectoryRef Id="CoSMICBinDir">
      <Component Id='RTConfigurationComponentLibrary'
                 Guid='D89ECDF9-A314-47A7-8115-640F807E743D'>
        <File Id='RTConfigurationDLL'
              Name='RTConfiguration.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\RTConfiguration.dll' />
        <File Id='RTConfigurationComponentDLL'
              Name='RTConfigurationComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\RTConfigurationComponent.dll' />
        <RegistryKey Root="HKLM" Key="Software\Classes"
                     Action="create" />
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID"
                     Action="create" />
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{D89ECDF9-A314-47A7-8115-640F807E743D}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.RTConfigurationComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{D89ECDF9-A314-47A7-8115-640F807E743D}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.RTConfigurationComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{D89ECDF9-A314-47A7-8115-640F807E743D}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]RTConfigurationComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.RTConfigurationComponent"
                     Action="createAndRemoveOnUninstall" >
          <RegistryValue Value="MGA.Interpreter.RTConfigurationComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.RTConfigurationComponent\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{D89ECDF9-A314-47A7-8115-640F807E743D}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.RTConfigurationComponent"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="Run RTConfigurationComponent Interpreter" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="CQML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="RTConfigurationComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.RTConfigurationComponent\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="CQML" Value="" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
