<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="QuickerTransFrag">
    <Feature Id='QUICKERFeature'
         Level='1'
         Title='QUICKER transformations based on GReAT'
         TypicalDefault="install" >

      <ComponentRef Id="QUICKERREADMEComponent"/>
      <ComponentRef Id="QUICKERExamplesComponent"/>
      <ComponentRef Id="QUICKERParadigmsComponent"/>

    </Feature>

    <DirectoryRef Id="QUICKERTransDir">
      <Component Id='QUICKERREADMEComponent' Guid='E4992BB3-6078-4e83-A2DA-84B2DD0FC15F'>
        <File Id='README'
              Name='README'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\Transformations\QUICKER\README' />
      </Component>
      <Component Id='QUICKERExamplesComponent' Guid='819CC016-1032-49e7-83F9-622A1EE4F949'>
        <File Id='QUICKERBasicSP.xme'
              Name='BasicSP.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\Transformations\QUICKER\examples\BasicSP.xme' />
        <File Id='QUICKERSample_Strings.xme'
              Name='Sample_Strings.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\Transformations\QUICKER\examples\Sample_Strings.xme' />
      </Component>
      <Component Id='QUICKERParadigmsComponent' Guid='333C5608-7DFE-447f-9091-4DD8F42814B5'>
        <File Id='QUICKERQoSMapping.xme'
              Name='QoSMapping.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\Transformations\QUICKER\paradigms\QoSMapping.xme' />
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>