<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="IDLTextEditorFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='IDLTextEditor' Guid='C8483E54-94D8-4F6C-97AB-9E3337E6AFD9'>
        <File Id='IDLTextEditor.dll'
              Name='IDLTextEditor.dll'
              Source='$(var.COSMIC_ROOT)\bin\IDLTextEditor.dll'
              DiskId='1' />

        <File Id='IDLTextEditor_Core.dll'
              Name='IDLTextEditor_Core.dll'
              Source='$(var.COSMIC_ROOT)\bin\IDLTextEditor_Core.dll'
              DiskId='1' />

        <File Id='t3_runtime.dll'
              Name='t3_runtime.dll'
              Source='$(var.COSMIC_ROOT)\bin\t3_runtime.dll'
              DiskId='1' />

        <RegistryKey Root="HKLM" Key="Software\Classes" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{C8483E54-94D8-4F6C-97AB-9E3337E6AFD9}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.IDLTextEditor" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{C8483E54-94D8-4F6C-97AB-9E3337E6AFD9}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.IDLTextEditor" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{C8483E54-94D8-4F6C-97AB-9E3337E6AFD9}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]IDLTextEditor.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.IDLTextEditor"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.IDLTextEditor" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.IDLTextEditor\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{C8483E54-94D8-4F6C-97AB-9E3337E6AFD9}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.IDLTextEditor"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="IDL TextEditor" Type="string" />
          <RegistryValue Name="Paradigm" Value="PICML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="IDL TextEditor" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.IDLTextEditor\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="PICML" Value="" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>

