<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="LEESAFrag">
    <Feature Id='LEESAFeature'
                 Level='1'
                 Title='LEESA Traversal DSL'
                 TypicalDefault="install" >
      <ComponentRef Id='LEESALibrary' />
      <ComponentRef Id='LEESADoc' />
    </Feature>
    
      <DirectoryRef Id="LEESAIncludeDir">
        <Component Id='LEESALibrary' Guid='3C340C4B-9FB8-425B-B152-DE034C78E184'>
          <File Id='LEESAH'
                Name='LEESA.h'
                DiskId='1'
                Source='$(var.COSMIC_ROOT)\Utils\LEESA\include\LEESA.h' />

          <File Id='LEESACPP'
                Name='LEESA.cpp'
                DiskId='1'
                Source='$(var.COSMIC_ROOT)\Utils\LEESA\include\LEESA.cpp' />

          <File Id='LEESA_VisitorAsIndex'
                Name='LEESA_VisitorAsIndex.h'
                DiskId='1'
                Source='$(var.COSMIC_ROOT)\Utils\LEESA\include\LEESA_VisitorAsIndex.h' />

          <File Id='LEESAAP'
                Name='AP.cpp'
                DiskId='1'
                Source='$(var.COSMIC_ROOT)\Utils\LEESA\include\AP.cpp' />

          <File Id='LEESASP'
                Name='SP.cpp'
                DiskId='1'
                Source='$(var.COSMIC_ROOT)\Utils\LEESA\include\SP.cpp' />

          <File Id='LEESA_Concepts'
                Name='LEESA_Concepts.h'
                DiskId='1'
                Source='$(var.COSMIC_ROOT)\Utils\LEESA\include\LEESA_Concepts.h' />

        </Component>
      </DirectoryRef>
      
      <DirectoryRef Id="CoSMICTraversalDir">
        <Component Id='LEESADoc' Guid='FC04D588-FB79-486b-AE82-4EAB5EED3805'>
          <File Id='LEESAPDF'
                Name='LEESA.pdf'
                DiskId='1'
                Source='$(var.COSMIC_ROOT)\Utils\LEESA\doc\LEESA.pdf' />

          <File Id='GEN_PAIRS_PL'
                Name='gen-pairs.pl'
                DiskId='1'
                Source='$(var.COSMIC_ROOT)\Utils\LEESA\bin\gen-pairs.pl' />

        </Component>
      </DirectoryRef>

  </Fragment>
</Wix>
