<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="CQMLLibraryFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='CQMLLibrary' Guid='12510EC4-B2FB-40F7-A4F3-13076A562A52'>
        <File Id='CQMLDLL'
              Name='CQML.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\CQML.dll' />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>