<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="CQMLParadigmFrag">

    <Feature Id='CQMLParadigmFeature' 
             Level='1' 
             Title='CQML Paradigm and the interpreters'
             TypicalDefault="install" >

      <ComponentRef Id='CQMLParadigm' />
      <ComponentRef Id='CQMLParadigmIcons' />
      <ComponentRef Id='CQMLLibrary'/>
      <ComponentRef Id='UtilsLibrary'/>
      <ComponentRef Id='PICMLDecoratorLibrary' />
      <ComponentRef Id='UUIDManagerLibrary' />
      
      <ComponentRef Id='DeploymentPlanFrameworkLibrary'/>
      <ComponentRef Id='FaultToleranceComponentLibrary' />
      <ComponentRef Id='NetQoSComponentLibrary' />
      <ComponentRef Id='SecurityQoSComponentLibrary' />
      <ComponentRef Id='BIRSpecificationComponentLibrary' />
<!--      <ComponentRef Id='EventBusComponentLibrary' /> -->
    </Feature>
    
    <DirectoryRef Id="CQMLParadigmDir">
      <Component Id='CQMLParadigm' Guid='15FC9A31-EA8F-4406-B2D3-1E6210CB6248'>
        <File Id='CQMLUML'
              Name='CQML-uml.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\CQML-uml.xme' />
        <File Id='CQMLXME'
              Name='CQML.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\CQML.xme' />
        <File Id='CQMLXML'
              Name='CQML.xml'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\CQML.xml' />
        <File Id='CQMLXMP'
              Name='CQML.xmp'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\CQML.xmp' />
        <!--        <File Id='CQMLTemplate'
              Name='CQML-Template.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\CQMLTemplate.xme' />
-->
        <RemoveFile Id='CQMLMTA' Name='CQML.mta' On='uninstall' />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="CQMLIconsDir">
      <Component Id='CQMLParadigmIcons' Guid='41164BC0-C12C-46C3-A3DB-F2CD835BF550'>

        <File Id='CQML_icon_1'
        Name='Any.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Any.bmp' />
<!--
        <File Id='CQML_icon_2'
        Name='Assembly.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Assembly.bmp' />

        <File Id='CQML_icon_3'
        Name='AttributeMapping.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\AttributeMapping.bmp' />

        <File Id='CQML_icon_4'
        Name='Average.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Average.bmp' />

        <File Id='CQML_icon_5'
        Name='BandedConnection.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\BandedConnection.bmp' />

        <File Id='CQML_icon_6'
        Name='BandedConnectionRef.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\BandedConnectionRef.bmp' />

        <File Id='CQML_icon_7'
        Name='Bridge.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Bridge.bmp' />

        <File Id='CQML_icon_8'
        Name='Capability.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Capability.bmp' />

        <File Id='CQML_icon_9'
        Name='ComponentPackage.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ComponentPackage.bmp' />

        <File Id='CQML_icon_10'
        Name='ComponentProperty.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ComponentProperty.bmp' />

        <File Id='CQML_icon_11'
        Name='ComponentSet.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ComponentSet.bmp' />

        <File Id='CQML_icon_12'
        Name='ConnectionBand.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ConnectionBand.bmp' />

        <File Id='CQML_icon_13'
        Name='Connector.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Connector.bmp' />

        <File Id='CQML_icon_14'
        Name='DataType.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\DataType.bmp' />

        <File Id='CQML_icon_15'
        Name='DeploymentPlan.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\DeploymentPlan.bmp' />

        <File Id='CQML_icon_16'
        Name='Discrete-Benchmark.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Discrete-Benchmark.bmp' />

        <File Id='CQML_icon_17'
        Name='Domain.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Domain.bmp' />

        <File Id='CQML_icon_18'
        Name='EnvironmentConf.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\EnvironmentConf.bmp' />

        <File Id='CQML_icon_19'
        Name='ExternalReferenceEndPoint.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ExternalReferenceEndPoint.bmp' />

        <File Id='CQML_icon_20'
        Name='FOU.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\FOU.bmp' />

        <File Id='CQML_icon_21'
        Name='ImplementationArtifact.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ImplementationArtifact.bmp' />

        <File Id='CQML_icon_22'
        Name='ImplementationArtifactReference.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ImplementationArtifactReference.bmp' />

        <File Id='CQML_icon_23'
        Name='ImplementationDependency.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ImplementationDependency.bmp' />

        <File Id='CQML_icon_24'
        Name='ImplementationReference.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ImplementationReference.bmp' />

        <File Id='CQML_icon_25'
        Name='ImplementationRequirement.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ImplementationRequirement.bmp' />

        <File Id='CQML_icon_26'
        Name='InputAction.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\InputAction.bmp' />

        <File Id='CQML_icon_27'
        Name='Interconnect.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Interconnect.bmp' />

        <File Id='CQML_icon_28'
        Name='Jitter.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Jitter.bmp' />

        <File Id='CQML_icon_29'
        Name='Latency.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Latency.bmp' />

        <File Id='CQML_icon_30'
        Name='Max.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Max.bmp' />

        <File Id='CQML_icon_31'
        Name='Min.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Min.bmp' />

        <File Id='CQML_icon_32'
        Name='MonolithicImplementation.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\MonolithicImplementation.bmp' />

        <File Id='CQML_icon_33'
        Name='Node.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Node.bmp' />

        <File Id='CQML_icon_34'
        Name='NodeGroup.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\NodeGroup.bmp' />

        <File Id='CQML_icon_35'
        Name='OutputAction.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\OutputAction.bmp' />

        <File Id='CQML_icon_36'
        Name='PackageConfiguration.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\PackageConfiguration.bmp' />

        <File Id='CQML_icon_37'
        Name='PackageConfigurationReference.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\PackageConfigurationReference.bmp' />

        <File Id='CQML_icon_38'
        Name='PackageReference.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\PackageReference.bmp' />

        <File Id='CQML_icon_39'
        Name='Periodic-Bench.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Periodic-Bench.bmp' />

        <File Id='CQML_icon_40'
        Name='PolicySet.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\PolicySet.bmp' />

        <File Id='CQML_icon_41'
        Name='PolicySetRef.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\PolicySetRef.bmp' />

        <File Id='CQML_icon_42'
        Name='PriorityModelPolicy.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\PriorityModelPolicy.bmp' />

        <File Id='CQML_icon_43'
        Name='Property.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Property.bmp' />

        <File Id='CQML_icon_44'
        Name='RPG.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\RPG.bmp' />

        <File Id='CQML_icon_45'
        Name='RTModel.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\RTModel.bmp' />

        <File Id='CQML_icon_46'
        Name='Requirement.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Requirement.bmp' />

        <File Id='CQML_icon_47'
        Name='Resource.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Resource.bmp' />

        <File Id='CQML_icon_48'
        Name='ResourceContainer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ResourceContainer.bmp' />

        <File Id='CQML_icon_49'
        Name='RootRiskGroup.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\RootRiskGroup.bmp' />

        <File Id='CQML_icon_50'
        Name='SatisfierProperty.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\SatisfierProperty.bmp' />

        <File Id='CQML_icon_51'
        Name='SharedResource.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\SharedResource.bmp' />

        <File Id='CQML_icon_52'
        Name='SharedRiskGroup.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\SharedRiskGroup.bmp' />

        <File Id='CQML_icon_53'
        Name='SimpleThreadPool.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\SimpleThreadPool.bmp' />

        <File Id='CQML_icon_54'
        Name='StartState.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\StartState.bmp' />

        <File Id='CQML_icon_55'
        Name='State.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\State.bmp' />

        <File Id='CQML_icon_56'
        Name='TargetReliabilityModel.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\TargetReliabilityModel.bmp' />

        <File Id='CQML_icon_57'
        Name='ThreadPoolLane.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ThreadPoolLane.bmp' />

        <File Id='CQML_icon_58'
        Name='ThreadPoolRef.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ThreadPoolRef.bmp' />

        <File Id='CQML_icon_59'
        Name='ThreadPoolWithLanes.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ThreadPoolWithLanes.bmp' />

        <File Id='CQML_icon_60'
        Name='Throughput.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Throughput.bmp' />

        <File Id='CQML_icon_61'
        Name='Thumbs.db'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Thumbs.db' />

        <File Id='CQML_icon_62'
        Name='TimerState.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\TimerState.bmp' />

        <File Id='CQML_icon_63'
        Name='TopLevelPackage.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\TopLevelPackage.bmp' />

        <File Id='CQML_icon_64'
        Name='Trigger-Bench.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\Trigger-Bench.bmp' />

        <File Id='CQML_icon_65'
        Name='action.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\action.bmp' />

        <File Id='CQML_icon_66'
        Name='aggregate.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\aggregate.bmp' />

        <File Id='CQML_icon_67'
        Name='aggregateref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\aggregateref.bmp' />

        <File Id='CQML_icon_68'
        Name='alias.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\alias.bmp' />

        <File Id='CQML_icon_69'
        Name='aliasref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\aliasref.bmp' />

        <File Id='CQML_icon_70'
        Name='assembly_qos.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\assembly_qos.bmp' />

        <File Id='CQML_icon_71'
        Name='assembly_ref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\assembly_ref.bmp' />

        <File Id='CQML_icon_72'
        Name='assembly_rule.GIF'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\assembly_rule.GIF' />

        <File Id='CQML_icon_73'
        Name='attribute.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\attribute.bmp' />

        <File Id='CQML_icon_74'
        Name='boolean.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\boolean.bmp' />

        <File Id='CQML_icon_75'
        Name='boxed.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\boxed.bmp' />

        <File Id='CQML_icon_76'
        Name='boxedref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\boxedref.bmp' />

        <File Id='CQML_icon_77'
        Name='byte.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\byte.bmp' />

        <File Id='CQML_icon_78'
        Name='comp-proj.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\comp-proj.bmp' />

        <File Id='CQML_icon_79'
        Name='component.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\component.bmp' />

        <File Id='CQML_icon_80'
        Name='component_qos.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\component_qos.bmp' />

        <File Id='CQML_icon_81'
        Name='component_rule.gif'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\component_rule.gif' />

        <File Id='CQML_icon_82'
        Name='componentfactory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\componentfactory.bmp' />

        <File Id='CQML_icon_83'
        Name='componentfactoryref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\componentfactoryref.bmp' />

        <File Id='CQML_icon_84'
        Name='componentref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\componentref.bmp' />

        <File Id='CQML_icon_85'
        Name='composite.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\composite.bmp' />

        <File Id='CQML_icon_86'
        Name='conjunction_group.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\conjunction_group.bmp' />

        <File Id='CQML_icon_87'
        Name='const.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\const.bmp' />

        <File Id='CQML_icon_88'
        Name='critical_path.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\critical_path.bmp' />

        <File Id='CQML_icon_89'
        Name='critical_path_ref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\critical_path_ref.bmp' />

        <File Id='CQML_icon_90'
        Name='discriminator.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\discriminator.bmp' />

        <File Id='CQML_icon_91'
        Name='disjunction_group.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\disjunction_group.bmp' />

        <File Id='CQML_icon_92'
        Name='ec_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_consumer.bmp' />

        <File Id='CQML_icon_93'
        Name='ec_dependency.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_dependency.bmp' />

        <File Id='CQML_icon_94'
        Name='ec_event.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_event.bmp' />

        <File Id='CQML_icon_95'
        Name='ec_option.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_option.bmp' />

        <File Id='CQML_icon_96'
        Name='ec_proxy.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_proxy.bmp' />

        <File Id='CQML_icon_97'
        Name='ec_proxy_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_proxy_consumer.bmp' />

        <File Id='CQML_icon_98'
        Name='ec_proxy_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_proxy_supplier.bmp' />

        <File Id='CQML_icon_99'
        Name='ec_resource_factory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_resource_factory.bmp' />

        <File Id='CQML_icon_100'
        Name='ec_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_supplier.bmp' />

        <File Id='CQML_icon_101'
        Name='ec_supplier_id.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ec_supplier_id.bmp' />

        <File Id='CQML_icon_102'
        Name='enum.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\enum.bmp' />

        <File Id='CQML_icon_103'
        Name='enumref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\enumref.bmp' />

        <File Id='CQML_icon_104'
        Name='enumvalue.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\enumvalue.bmp' />

        <File Id='CQML_icon_105'
        Name='event.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\event.bmp' />

        <File Id='CQML_icon_106'
        Name='event_sink.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\event_sink.bmp' />

        <File Id='CQML_icon_107'
        Name='event_source.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\event_source.bmp' />

        <File Id='CQML_icon_108'
        Name='eventref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\eventref.bmp' />

        <File Id='CQML_icon_109'
        Name='eventtype-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\eventtype-port.bmp' />

        <File Id='CQML_icon_110'
        Name='eventtype.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\eventtype.bmp' />

        <File Id='CQML_icon_111'
        Name='exception.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\exception.bmp' />

        <File Id='CQML_icon_112'
        Name='exceptionref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\exceptionref.bmp' />

        <File Id='CQML_icon_113'
        Name='factory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\factory.bmp' />

        <File Id='CQML_icon_114'
        Name='file.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\file.bmp' />

        <File Id='CQML_icon_115'
        Name='fileref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\fileref.bmp' />

        <File Id='CQML_icon_116'
        Name='genericobject.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\genericobject.bmp' />

        <File Id='CQML_icon_117'
        Name='genericvalue.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\genericvalue.bmp' />

        <File Id='CQML_icon_118'
        Name='genericvalueobject.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\genericvalueobject.bmp' />

        <File Id='CQML_icon_119'
        Name='getexception.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\getexception.bmp' />

        <File Id='CQML_icon_120'
        Name='group.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\group.bmp' />

        <File Id='CQML_icon_121'
        Name='in.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\in.bmp' />

        <File Id='CQML_icon_122'
        Name='inevent_lf.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\inevent_lf.bmp' />

        <File Id='CQML_icon_123'
        Name='inevent_rt.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\inevent_rt.bmp' />

        <File Id='CQML_icon_124'
        Name='ineventport.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ineventport.bmp' />

        <File Id='CQML_icon_125'
        Name='inherits.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\inherits.bmp' />

        <File Id='CQML_icon_126'
        Name='initiator.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\initiator.bmp' />

        <File Id='CQML_icon_127'
        Name='inout.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\inout.bmp' />

        <File Id='CQML_icon_128'
        Name='label.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\label.bmp' />

        <File Id='CQML_icon_129'
        Name='logical_and_group.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\logical_and_group.bmp' />

        <File Id='CQML_icon_130'
        Name='long.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\long.bmp' />

        <File Id='CQML_icon_131'
        Name='lookup.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\lookup.bmp' />

        <File Id='CQML_icon_132'
        Name='lookupkey.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\lookupkey.bmp' />

        <File Id='CQML_icon_133'
        Name='member.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\member.bmp' />

        <File Id='CQML_icon_134'
        Name='ns_admin.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_admin.bmp' />

        <File Id='CQML_icon_135'
        Name='ns_config.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_config.bmp' />

        <File Id='CQML_icon_136'
        Name='ns_constraint.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_constraint.bmp' />

        <File Id='CQML_icon_137'
        Name='ns_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_consumer.bmp' />

        <File Id='CQML_icon_138'
        Name='ns_event.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_event.bmp' />

        <File Id='CQML_icon_139'
        Name='ns_filter-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_filter-port.bmp' />

        <File Id='CQML_icon_140'
        Name='ns_filter.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_filter.bmp' />

        <File Id='CQML_icon_141'
        Name='ns_option.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_option.bmp' />

        <File Id='CQML_icon_142'
        Name='ns_proxy.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_proxy.bmp' />

        <File Id='CQML_icon_143'
        Name='ns_proxy_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_proxy_consumer.bmp' />

        <File Id='CQML_icon_144'
        Name='ns_proxy_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_proxy_supplier.bmp' />

        <File Id='CQML_icon_145'
        Name='ns_qos-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_qos-port.bmp' />

        <File Id='CQML_icon_146'
        Name='ns_qos.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_qos.bmp' />

        <File Id='CQML_icon_147'
        Name='ns_resource_factory-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_resource_factory-port.bmp' />

        <File Id='CQML_icon_148'
        Name='ns_resource_factory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_resource_factory.bmp' />

        <File Id='CQML_icon_149'
        Name='ns_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\ns_supplier.bmp' />

        <File Id='CQML_icon_150'
        Name='object.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\object.bmp' />

        <File Id='CQML_icon_151'
        Name='objectref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\objectref.bmp' />

        <File Id='CQML_icon_152'
        Name='oneway.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\oneway.bmp' />

        <File Id='CQML_icon_153'
        Name='operation_set.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\operation_set.bmp' />

        <File Id='CQML_icon_154'
        Name='operationref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\operationref.bmp' />

        <File Id='CQML_icon_155'
        Name='out.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\out.bmp' />

        <File Id='CQML_icon_156'
        Name='outevent_lf.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\outevent_lf.bmp' />

        <File Id='CQML_icon_157'
        Name='outevent_rt.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\outevent_rt.bmp' />

        <File Id='CQML_icon_158'
        Name='outeventport.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\outeventport.bmp' />

        <File Id='CQML_icon_159'
        Name='package.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\package.bmp' />

        <File Id='CQML_icon_160'
        Name='policy_set.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\policy_set.bmp' />

        <File Id='CQML_icon_161'
        Name='port_qos.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\port_qos.bmp' />

        <File Id='CQML_icon_162'
        Name='port_rule.GIF'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\port_rule.GIF' />

        <File Id='CQML_icon_163'
        Name='private.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\private.bmp' />

        <File Id='CQML_icon_164'
        Name='project.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\project.bmp' />

        <File Id='CQML_icon_165'
        Name='providedrequestport.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\providedrequestport.bmp' />

        <File Id='CQML_icon_166'
        Name='readonlyattribute.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\readonlyattribute.bmp' />

        <File Id='CQML_icon_167'
        Name='realm.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\realm.bmp' />

        <File Id='CQML_icon_168'
        Name='realnumber.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\realnumber.bmp' />

        <File Id='CQML_icon_169'
        Name='receptacle_lf.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\receptacle_lf.bmp' />

        <File Id='CQML_icon_170'
        Name='receptacle_rt.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\receptacle_rt.bmp' />

        <File Id='CQML_icon_171'
        Name='requiredrequestport.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\requiredrequestport.bmp' />

        <File Id='CQML_icon_172'
        Name='return.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\return.bmp' />

        <File Id='CQML_icon_173'
        Name='rights.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\rights.bmp' />

        <File Id='CQML_icon_174'
        Name='role.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\role.bmp' />

        <File Id='CQML_icon_175'
        Name='role_access_rights.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\role_access_rights.bmp' />

        <File Id='CQML_icon_176'
        Name='rt_info-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\rt_info-port.bmp' />

        <File Id='CQML_icon_177'
        Name='rt_info.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\rt_info.bmp' />

        <File Id='CQML_icon_178'
        Name='rtec_proxy_consumer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\rtec_proxy_consumer.bmp' />

        <File Id='CQML_icon_179'
        Name='rtec_proxy_supplier.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\rtec_proxy_supplier.bmp' />

        <File Id='CQML_icon_180'
        Name='rtec_resource_factory-port.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\rtec_resource_factory-port.bmp' />

        <File Id='CQML_icon_181'
        Name='rtec_resource_factory.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\rtec_resource_factory.bmp' />

        <File Id='CQML_icon_182'
        Name='security_domain.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\security_domain.bmp' />

        <File Id='CQML_icon_183'
        Name='security_policy.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\security_policy.bmp' />

        <File Id='CQML_icon_184'
        Name='setexception.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\setexception.bmp' />

        <File Id='CQML_icon_185'
        Name='setexceptionref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\setexceptionref.bmp' />

        <File Id='CQML_icon_186'
        Name='short.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\short.bmp' />

        <File Id='CQML_icon_187'
        Name='string.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\string.bmp' />

        <File Id='CQML_icon_188'
        Name='supports.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\supports.bmp' />

        <File Id='CQML_icon_189'
        Name='switchedaggregate.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\switchedaggregate.bmp' />

        <File Id='CQML_icon_190'
        Name='switchedaggregateref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\switchedaggregateref.bmp' />

        <File Id='CQML_icon_191'
        Name='task.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\task.bmp' />

        <File Id='CQML_icon_192'
        Name='taskset.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\taskset.bmp' />

        <File Id='CQML_icon_193'
        Name='timer.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\timer.bmp' />

        <File Id='CQML_icon_194'
        Name='twoway.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\twoway.bmp' />

        <File Id='CQML_icon_195'
        Name='typeencoding.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\typeencoding.bmp' />

        <File Id='CQML_icon_196'
        Name='typekind.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\typekind.bmp' />

        <File Id='CQML_icon_197'
        Name='user.gif'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\user.gif' />

        <File Id='CQML_icon_198'
        Name='value.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\value.bmp' />

        <File Id='CQML_icon_199'
        Name='valueref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\valueref.bmp' />

        <File Id='CQML_icon_200'
        Name='variablecollection.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\variablecollection.bmp' />

        <File Id='CQML_icon_201'
        Name='variablecollectionref.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\variablecollectionref.bmp' />

        <File Id='CQML_icon_202'
        Name='vertex.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\vertex.bmp' />

        <File Id='CQML_icon_203'
        Name='worker.gif'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\worker.gif' />

        <File Id='CQML_icon_204'
        Name='workerref.gif'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\workerref.gif' />

        <File Id='CQML_icon_205'
        Name='workspace.bmp'
        DiskId='1'
        Source='$(var.COSMIC_ROOT)\PSM\CQML\paradigms\icons\workspace.bmp' />
-->
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>