<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="EventBusComponentFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='EventBusComponentLibrary'
                 Guid='d019f067-40e2-445f-833c-439eb3878ba5'>
        <File Id='EventBusDLL'
              Name='EventBus.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\EventBus.dll'  />
        <File Id='EventBusComponentDLL'
              Name='EventBusComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\EventBusComponent.dll' />

        <RegistryKey Root="HKLM" Key="Software\Classes"
                     Action="create" />
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID"
                     Action="create" />
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{d019f067-40e2-445f-833c-439eb3878ba5}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.EventBusComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{d019f067-40e2-445f-833c-439eb3878ba5}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.EventBusComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{d019f067-40e2-445f-833c-439eb3878ba5}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]EventBusComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.EventBusComponent"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.EventBusComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.EventBusComponent\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{d019f067-40e2-445f-833c-439eb3878ba5}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.EventBusComponent"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="EventBusComponent Interpreter" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="CQML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="EventBusComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.EventBusComponent\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="CQML" Value="" Type="string" />
        </RegistryKey>

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
