<?xml version='1.0' encoding='utf-8'?>

<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'> 
  <Fragment Id='CoSMIC_common'>
    <DirectoryRef Id='bin'>
      <Component Id='PICML' Guid='8661d861-25c1-437e-921f-50d97fd61529'>
        <File Id="PICML.dll" Name="PICML.DLL" LongName="PICML.dll" 
              Source="$(env.COSMIC_ROOT)\bin\PICML.dll" DiskId="1" />
      </Component>
      
      <Component Id="Utils" Guid="817bc762-4da0-4da7-8f46-e8240bf6e960">
        <File Id="Utils.dll" Name="UTILS.DLL" LongName="Utils.dll" 
              Source="$(env.COSMIC_ROOT)\bin\Utils.dll" DiskId="1" />
      </Component>
    </DirectoryRef>    
  </Fragment>
</Wix>
