<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="DomainComponentFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='DomainComponentLibrary' Guid='7A933614-ECC0-4F43-9EAE-4516F99076BD'>
        <File Id='DomainDLL'
              Name='Domain.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\Domain.dll' />
        <File Id='DomainComponentDLL'
              Name='DomainComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\DomainComponent.dll' />

        <RegistryKey Root="HKLM" Key="Software\Classes" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{7A933614-ECC0-4F43-9EAE-4516F99076BD}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.Domain" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{7A933614-ECC0-4F43-9EAE-4516F99076BD}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.Domain" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{7A933614-ECC0-4F43-9EAE-4516F99076BD}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]DomainComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.Domain"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.Domain" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.Domain\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{7A933614-ECC0-4F43-9EAE-4516F99076BD}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="SOFTWARE\GME\Components\MGA.Interpreter.Domain"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="Generate Domain Descriptors" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="PICML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="Domain" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="SOFTWARE\GME\Components\MGA.Interpreter.Domain\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="PICML" Value="" Type="string" />
        </RegistryKey>

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
