<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="QEDDeploymentFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='QEDDeploymentLibrary' Guid='8CD865CE-C4D6-402C-B5EE-C3B677EB3586'>
        <File Id='QEDDeployment.dll'
              Name='QEDDeployment.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\QEDDeployment.dll' />

        <File Id='QEDDeploymentComponent.dll'
              Name='QEDDeploymentComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\QEDDeploymentComponent.dll' />

        <RegistryKey Root="HKLM" Key="Software\Classes" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{8CD865CE-C4D6-402C-B5EE-C3B677EB3586}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.QEDDeployment" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{8CD865CE-C4D6-402C-B5EE-C3B677EB3586}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.QEDDeployment" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{8CD865CE-C4D6-402C-B5EE-C3B677EB3586}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]QEDDeploymentComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.QEDDeployment"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.QEDDeployment" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.QEDDeployment\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{8CD865CE-C4D6-402C-B5EE-C3B677EB3586}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.QEDDeployment"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="QED Deployment Generator" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="PICML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="QEDDeployment" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.QEDDeployment\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="PICML" Value="" Type="string" />
        </RegistryKey>

      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
