<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="IDLImporterFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='IDLImporterExecutable' Guid='833B40A8-9AF0-4CB3-8353-7BB916E955F9'>
        <File Id='IDL_TO_PICML_EXE'
              Name='idl_to_picml.exe'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\idl_to_picml.exe' />
        <File Id='IDL_TO_PICML_BE_DLL'
              Name='IDL_TO_PICML_BE.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\IDL_TO_PICML_BE.dll' />
        <File Id='TAO_IDL_BE_DLL'
              Name='TAO_IDL_BE.dll'
              DiskId='1'
              Source='$(var.ACE_ROOT)\lib\TAO_IDL_BE.dll' />
        <File Id='TAO_IDL_FE_DLL'
              Name='TAO_IDL_FE.dll'
              DiskId='1'
              Source='$(var.ACE_ROOT)\lib\TAO_IDL_FE.dll' />

      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
