<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="SecurityQoSComponentFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='SecurityQoSComponentLibrary' Guid='EC87E661-D2FA-4EE2-ABA4-1F6C01EC810A'>
        <File Id='SecurityQoSDLL'
              Name='SecurityQoS.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\SecurityQoS.dll' />
        <File Id='SecurityQoSComponentDLL'
              Name='SecurityQoSComponent.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\SecurityQoSComponent.dll' />

        <RegistryKey Root="HKLM" Key="Software\Classes"
                     Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" 
                     Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{EC87E661-D2FA-4EE2-ABA4-1F6C01EC810A}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.SecurityQoSComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{EC87E661-D2FA-4EE2-ABA4-1F6C01EC810A}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.SecurityQoSComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{EC87E661-D2FA-4EE2-ABA4-1F6C01EC810A}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]SecurityQoSComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.SecurityQoSComponent"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="MGA.Interpreter.SecurityQoSComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\MGA.Interpreter.SecurityQoSComponent\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{EC87E661-D2FA-4EE2-ABA4-1F6C01EC810A}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.SecurityQoSComponent"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="Generate Security QoS Descriptors" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="CQML" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="SecurityQoSComponent" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\MGA.Interpreter.SecurityQoSComponent\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="CQML" Value="" Type="string" />
        </RegistryKey>

      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
