<?xml version='1.0' encoding='utf-8' ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name="CUTS Modeling Tools for CoSMIC"
           Id="9A601859-E2D1-4C1F-B897-B13fEA0261B0"
           UpgradeCode="1CEF4517-4472-4A6F-8D4E-4D5B5F3B240A"
           Language="1033" Codepage="1252" Version="0.2"
           Manufacturer="DOC Group, ISIS, Vanderbilt University">

    <Package Keywords='Installer'
             Description='CUTS Modeling Tools for CoSMIC'
             Manufacturer='DOC Group, ISIS, Vanderbilt University'
             InstallerVersion='150' Languages='1033' Compressed='yes'
             SummaryCodepage='1252' />

    <!-- Wix variables -->
    <WixVariable Id="WixUILicenseRtf" Value="$(env.CUTS_ROOT)\docs\License.rtf" />
    <WixVariable Id="WixUIBannerBmp"  Value="images\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp"  Value="images\dlgbmp.bmp" />

<!--
    <Property Id="PICML_INSTALLED">
      <RegistrySearch Id="PICML_version" Root="HKCU" Type="raw"
                      Key="SOFTWARE\GME\Paradigms\PICML" Name="CurrentVersion" />
    </Property>

    <Condition Message='CUTS modeling tools requires CoSMIC to be installed first'>
      PICML_INSTALLED</Condition>
-->

    <!-- installation media -->
    <Media Id="1" Cabinet="CUTS_CoSMIC.cab" EmbedCab="yes" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="SystemFolder" />

      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="ISIS" Name="ISIS">
          <Directory Id="CoSMIC" Name="CoSMIC">
            <Directory Id="INSTALLDIR" Name="CUTS">
              <Directory Id="bin" Name="bin" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- product features -->
    <Feature Id="CUTS_CoSMIC_feature" Title="CUTS Modeling Tools"
             Display="collapse" Absent="disallow"
             Description="Installs the default CUTS modeling tools for CoSMIC"
             Level="1" ConfigurableDirectory="INSTALLDIR"
             AllowAdvertise="no">

      <!-- gather all the CUTS related components -->
      <ComponentRef Id="CUTS_PICML" />

      <!-- components from CoSMIC_common -->
      <ComponentRef Id="CoSMIC_common" />

      <!-- include the VC merge modules -->
      <FeatureRef Id="vc_merge_modules" />
    </Feature>

    <!-- user interface -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
