<?xml version='1.0' encoding='Windows-1252' ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <?define COSMIC_ROOT = $(env.COSMIC_ROOT) ?>
  <?define COSMIC_BIN  = $(var.COSMIC_ROOT)/bin ?>

  <Product Name="CUTS Modeling Tools for CoSMIC" Id="9a601859-e2d1-4c1f-b897-b13fea0261b0"
    UpgradeCode="1cef4517-4472-4a6f-8d4e-4d5b5f3b240a" Language="1033" Codepage="1252" Version="0.2"
    Manufacturer="DOC Group, ISIS, Vanderbilt University">

    <Package Id='09c570ff-7f9f-402b-8d7a-e1194695bc19' Keywords='Installer'
             Description='CUTS Modeling Tools for CoSMIC'
             Manufacturer='DOC Group, ISIS, Vanderbilt University' InstallerVersion='100'
             Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <!-- properties -->
    <Property Id="WIXUI_INSTALLDIR" Value="C:\Program Files\ISIS\CoSMIC" />

    <Property Id="PICML_INSTALLED">
      <RegistrySearch Id="PICML_version" Root="HKLM" Type="raw"
                      Key="SOFTWARE\GME\Paradigms\PICML" Name="CurrentVersion" />
    </Property>

    <!-- installation conditions -->
    <Condition Message='CUTS modeling tools require CoSMIC to be installed'>PICML_INSTALLED</Condition>

    <!-- installation media -->
    <Media Id="1" Cabinet="CUTS_CoSMIC.cab" EmbedCab="yes" />

    <Directory Id='WIXUI_INSTALLDIR' Name='SourceDir'>
      <Component Id="CUTS_components" Guid="c22f4814-e8a3-43f6-9ba7-044e405478ea">

        <File Id="CUTS_PICML_CIAO_Impl.dll" Name="CUTSCIAO.dll" LongName="CUTS_PICML_CIAO_Impl.dll" 
              Source="$(var.COSMIC_BIN)\CUTS_PICML_CIAO_Impl.dll" DiskId="1" />

        <File Id="CUTS_UDM_CIAO.dll" Name="CUTSUDM.dll" LongName="CUTS_UDM_CIAO.dll" 
              Source="$(var.COSMIC_BIN)\CUTS_UDM_CIAO.dll" DiskId="1" />

        <File Id="CUTS_BE.dll" Name="CUTSBE.dll" LongName="CUTS_BE.dll" 
              Source="$(var.COSMIC_BIN)\CUTS_BE.dll" DiskId="1" />

      </Component>
    </Directory>
    
    <!-- product features -->
    <Feature Id="CUTS_CoSMIC_feature" Title="CUTS Modeling Tools for CoSMIC" Display="hidden"
             Description="Installs the default CUTS modeling tools for CoSMIC" Level="1">
      <ComponentRef Id="CUTS_components" />
    </Feature>

    <!-- user interface -->
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
