<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <?define COMMON_PROGRAMFILES = "$(env.CommonProgramFiles)" ?>

  <Fragment Id='CoSMIC_common'>
    <DirectoryRef Id='SystemFolder'>
<?if $(var.type) = vc71 ?>
      <!-- C runtime for VC71 -->
      <Merge Id='VC_User_CRT71_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_CRT71_RTL_X86_---.msm' />

      <!-- STL runtime for VC71 -->
      <Merge Id='VC_User_STL71_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_STL71_RTL_X86_---.msm' />

      <!-- MFC runtime for VC71 -->
      <Merge Id='VC_User_MFC71_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_MFC71_RTL_X86_---.msm' />

      <!-- MFC Localization for VC71 -->
      <Merge Id='VC_User_MFC71_Loc_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_MFC71_Loc_RTL_X86_---.msm' />

      <!-- ATL runtime for VC71 -->
      <Merge Id='VC_User_ATL71_RTL_X86_---.msm'
             DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\VC_User_ATL71_RTL_X86_---.msm' />
<?elseif $(var.type) = vc8 ?>
      <!-- C runtime for VC8 -->
      <Merge Id='Microsoft_VC80_CRT_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC80_CRT_x86.msm' />

      <Merge Id='policy_8_0_Microsoft_VC80_CRT_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_8_0_Microsoft_VC80_CRT_x86.msm' />

      <!-- ATL for VC8 -->
      <Merge Id='Microsoft_VC80_ATL_x86.msm' DiskId='1' Language='0'
         SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC80_ATL_x86.msm' />

      <Merge Id='policy_8_0_Microsoft_VC80_ATL_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_8_0_Microsoft_VC80_ATL_x86.msm' />

      <!-- MFC for VC8 -->
     <Merge Id='Microsoft_VC80_MFC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC80_MFC_x86.msm' />

      <Merge Id='policy_8_0_Microsoft_VC80_MFC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_8_0_Microsoft_VC80_MFC_x86.msm' />

      <!-- MFC for Localization -->
      <Merge Id='Microsoft_VC80_MFCLOC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\Microsoft_VC80_MFCLOC_x86.msm' />

      <Merge Id='policy_8_0_Microsoft_VC80_MFCLOC_x86.msm' DiskId='1' Language='0'
             SourceFile='$(var.COMMON_PROGRAMFILES)\Merge Modules\policy_8_0_Microsoft_VC80_MFCLOC_x86.msm' />

      <?endif ?>
    </DirectoryRef>

    <!-- Visual Studio merge modules -->
    <Feature Id="vc_merge_modules" Display="hidden"
             TypicalDefault="install"  Level="1">
<?if $(var.type) = vc71 ?>
      <MergeRef Id="VC_User_CRT71_RTL_X86_---.msm" />
      <MergeRef Id="VC_User_STL71_RTL_X86_---.msm" />
      <MergeRef Id="VC_User_ATL71_RTL_X86_---.msm" />
      <MergeRef Id="VC_User_MFC71_RTL_X86_---.msm" />
      <MergeRef Id="VC_User_MFC71_Loc_RTL_X86_---.msm" />
<?elseif $(var.type) = vc8 ?>
      <MergeRef Id="Microsoft_VC80_CRT_x86.msm" />
      <MergeRef Id='policy_8_0_Microsoft_VC80_CRT_x86.msm' />
      <MergeRef Id="Microsoft_VC80_ATL_x86.msm" />
      <MergeRef Id='policy_8_0_Microsoft_VC80_ATL_x86.msm' />
      <MergeRef Id="Microsoft_VC80_MFC_x86.msm" />
      <MergeRef Id='policy_8_0_Microsoft_VC80_MFC_x86.msm' />
      <MergeRef Id="Microsoft_VC80_MFCLOC_x86.msm" />
      <MergeRef Id='policy_8_0_Microsoft_VC80_MFCLOC_x86.msm' />
<?endif ?>
    </Feature>

  </Fragment>
</Wix>
