<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="ExtensionClassesFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='ExtensionClassesLibrary' Guid='425C5DA2-876B-46e0-9BE9-73DD700967D6'>
        <File Id='ExtensionClassesComponent.dll'
              Name='ExtensionClassesComponent.dll'
              Source='$(var.COSMIC_ROOT)\bin\ExtensionClassesComponent.dll'
              DiskId='1' />

        <RegistryKey Root="HKLM" Key="Software\Classes" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID" Action="create"/>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{425C5DA2-876B-46e0-9BE9-73DD700967D6}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="GAME.Interpreter.ExtensionClasses" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{425C5DA2-876B-46e0-9BE9-73DD700967D6}\ProgID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="GAME.Interpreter.ExtensionClasses" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{425C5DA2-876B-46e0-9BE9-73DD700967D6}\InProcServer32"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="[CoSMICBinDir]ExtensionClassesComponent.dll" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\GAME.Interpreter.ExtensionClasses"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="GAME.Interpreter.ExtensionClasses" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\GAME.Interpreter.ExtensionClasses\CLSID"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Value="{425C5DA2-876B-46e0-9BE9-73DD700967D6}" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\GAME.Interpreter.ExtensionClasses"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="Tooltip" Value="ExtensionClasses Interpreter" Type="string" />
          <RegistryValue Name="Icon" Value=",IDI_COMPICON" Type="string" />
          <RegistryValue Name="Paradigm" Value="MetaGME" Type="string" />
          <RegistryValue Name="Type" Value="1" Type="integer" />
          <RegistryValue Name="Description" Value="ExtensionClasses" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\GME\Components\GAME.Interpreter.ExtensionClasses\Associated"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Name="MetaGME" Value="" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>

