<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="POSAMLExamplesFrag">
    <DirectoryRef Id="POSAMLExamplesDir">
      <Component Id='POSAMLExamples' Guid='{A670E56A-94DA-47b1-A92B-AB8D39A7EE2B}'>

        <File Id='Test_Model.xme'
              Name='Test_Model.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\pim\POSAML\examples\Test_Model.xme' />
       </Component>
    </DirectoryRef>
</Fragment>
</Wix>