<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="UtilsFrag">
    <DirectoryRef Id="CoSMICBinDir">
      <Component Id='UtilsLibrary' Guid='1D24942F-95E3-42E4-90F6-50555396D813'>
        <File Id='UtilsDLL'
              Name='Utils.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\Utils.dll' />

<?if $(var.GME_VERSION) = 6_11_9 ?>
        <File Id='UtilsdDLL'
              Name='Utilsd.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\Utilsd.dll' />
<?endif ?>

        <File Id='GAME.dll'
              Name='GAME.dll'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\bin\GAME.dll' />
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>