<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="fragment.includes">
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="includes" Name="includes">
        <Directory Id="GME" Name="GME">
          <Component Id='GMEIncludes' Guid='8B5C942F-1ECB-446E-A018-D72F5F557764'>
            <File Id='mga.dtd'
                  Name='mga.dtd'
                  DiskId='1'
                  Source='$(var.COSMIC_ROOT)\includes\GME\mga.dtd' />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>