<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(env.COSMIC_ROOT)/installer/CoSMIC_Installer/EnvironmentVars.wxi ?>

  <Fragment Id="CQMLExamplesFrag">
    <DirectoryRef Id="CQMLExamplesDir">
      <Component Id='CQMLExamples' Guid='47AB96A9-6A7D-4F1D-B1CB-0BFD8EC6603C'>

        <File Id='CQMLBasicSP.xme'
              Name='BasicSP.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\psm\CQML\examples\BasicSP.xme' />
        <File Id='CQMLSLICE.xme'
              Name='SLICE.xme'
              DiskId='1'
              Source='$(var.COSMIC_ROOT)\psm\CQML\examples\SLICE.xme' />

      </Component>
    </DirectoryRef>
</Fragment>
</Wix>